<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>strollBoardView</title>
    <link rel="stylesheet" th:href="@{/css/strollBoard/strollBoardView.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>

</head>

<body>
<!-- 헤더부분 -->

<header th:replace="fragment/header :: header"></header>

<div class="globar-content-wrap" th:object="${board}">
    <!-- 산책모임 게시글 번호 -->
    <input type="hidden" class="boardNum" name="strollBoardNumber" th:value="*{strollBoardNumber}">
    <!-- 제목영역 -->
    <div class="board-view-title-wrap">

        <div class="title-container">
            <div class="administrative-district" th:text="*{strollBoardAdminDistrict}">
            </div>

            <!-- 게시글 제목 -->
            <div class="board-title" th:text="*{strollBoardTitle}">
            </div>

            <!-- 게시글 등록, 수정날짜 영역 -->
            <div class="board-register-and-update-wrap">
                <div class="board-info"
                     th:text="'작성자 : '+ *{userId} + ' | 등록일 : ' + *{strollBoardRegisterDate}+ ' | 수정일 : ' + *{strollBoardUpdateDate}">
                </div>

                <!-- 모임 날짜 -->
                <div class="meeting-date">
                    산책 날짜 : <b th:text="*{strollBoardMeetingDate}"></b>
                </div>
                <span class="view-count">조회수 : <th:block th:text="*{strollBoardViewCount}"></th:block></span>
            </div>

        </div>
    </div>


    <!-- 게시글 내용 영역 -->
    <div class="board-view-content-wrap">
        <div class="board-content" th:text="*{strollBoardContent}"></div>
    </div>
    <!-- 카카오 지도 api영역 -->
    <div class="kakao-map-api-wrap">
        <div id="map"></div>
    </div>

    <!-- 같이 산책할 동물의 정보 -->
    <div class="my-pet-info-container" th:if="*{petNumber!=null}">
        <b>같이 산책할 대표 동물</b>

        <div class="swiper-container">
            <div class="animal-swiper">
                <div class="profile-card">
                    <div class="profile-info">
                        <!-- 반려동물 이미지 분기처리 -->
                        <img src="https://lifet.co.kr/img/profile/default.png" alt="" class="default-profile"
                             th:if="*{petFileName==null}">

                        <img th:src="@{/petFile/display(fileName=*{petFileUploadPath+'/'+petFileUuid+'_'+petFileName})}"
                             alt=""
                             class="default-profile" th:unless="*{petFileName==null}">
                    </div>
                    <div class="profile-info2">
                        <div class="name">이름 :<b th:text="*{petName}"></b></div>
                        <div class="kind">동물 종류 :<b th:text="*{petKind}"></b></div>
                        <div class="detailed-kind">품종 :<b th:text="*{petDetailedType}"></b></div>
                        <div class="birth">생일 :<b th:text="*{petBirth}"></b></div>
                        <div class="gender">성별 :<b th:text="*{petGender}"></b></div>
                        <div class="surgery">중성화 :<b th:text="*{petSurgery}"></b></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- 게시글 수정, 삭제 버튼 영역 -->
    <div class="board-modify-delete-btn-wrap">

        <div class="modify-delete-box">

            <th:block th:if="${session.userNumber == board.userNumber || session.adminNumber != null }">

                <th:block th:if="${session.userNumber == board.userNumber}">
                    <button type="button" class="board-modify-btn control-btn">
                        수정
                    </button>
                </th:block>
                <button type="button" class="board-delete-btn control-btn">
                    삭제
                </button>
            </th:block>

            <button type="button" class="control-btn list-btn">
                목록
            </button>
        </div>


    </div>
    <!-- 게시글 댓글 영역 -->
    <div class="board-reply-wrap">
        <!-- 댓글 작성 -->
        <div class="reply-write-wrap">
            <div class="reply-count-box">
                댓글 <b class="reply-count"></b>
            </div>

            <div class="reply-write-box">
                <textarea name="strollReplyContent" id="reply-content" placeholder="댓글을 입력해주세요"></textarea>
                <button type="button" class="reply-write-btn">
                    댓글 작성
                </button>
            </div>
        </div>


        <div class="reply-list-wrap">

        </div>
        <div class="pagination">
            <ul class="page-ul">
            </ul>
        </div>


    </div>


</div>

<footer th:replace="fragment/footer :: footer"></footer>


<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script>
    const boardLat = [[${board.strollBoardLat}]];
    const boardLng = [[${board.strollBoardLng}]];
    const place = `[[${board.strollBoardMeetingPlace}]]`;
    const date = `[[${board.strollBoardMeetingDate}]]`;
    let loginNumber = [[${session.userNumber != null ? session.userNumber : -1}]];
</script>
<!-- 카카오지도 api js -->
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dc12d7c2624483dc7c019a0a91b727f&libraries=services"></script>
<script th:src="@{/js/strollBoard/boardViewKakaoMapApi.js}"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script type="module" th:src="@{/js/strollBoard/strollBoardView.js}"></script>
</body>

</html>