<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>strollBoardModify</title>
  <link rel="stylesheet" th:href="@{/css/strollBoard/strollBoardWrite.css}">
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
  <!-- 달력apiCss -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{/css/strollBoard/calenderApi.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
  <link rel="stylesheet" th:href="@{/css/fragment/chat.css}">
</head>

<body>

<header th:replace="fragment/header :: header"></header>
  <div class="globar-content-wrap" th:object="${board}">

    <form class="board-form" th:action="@{/stroll/modify}" method="post" >

      <!-- 제목부분 -->
      <div class="title-wrap">
        <div class="title-guide-msg">
          글 작성
        </div>
        <div class="title-write-input">
          <input type="hidden" class="stroll-board-num" name="strollBoardNumber" th:value="*{strollBoardNumber}">
          <input class="title-input" type="text" name="strollBoardTitle" placeholder="제목을 입력해주세요" required th:value="*{strollBoardTitle}">
        </div>

      </div>

      <!-- 같이 산책할 본인의 대표 반려동물 선택 부분 -->
      <div class="my-pet-list-wrap" th:unless="${#lists.isEmpty(petList)}">
        <div class="my-pet-guide-msg">
          같이 산책할 대표 반려동물 선택
        </div>
        <div class="my-pet-list-box">
          <ul class="my-pet-list" >
            <!-- 해당 회원의 반려동물 이름 시작 -->
            <label th:each="pet : ${petList}">
              <li class="my-pet" >
               <th:block th:text="${pet.petName}"/>
                <input type="radio" class="pet-radio-input" name="petNumber" th:value="${pet.petNumber}" required="required" checked th:if="${pet.petNumber == board.petNumber}">
                <input type="radio" class="pet-radio-input" name="petNumber" th:value="${pet.petNumber}" required="required" th:unless="${pet.petNumber == board.petNumber}">

              </li>
            </label>
            <!-- 해당 회원의 반려동물 목록 끝 -->
          </ul>

        </div>
      </div>

      <div class="content-wrap">
        <textarea name="strollBoardContent" id="stroll-board-content" pseudo="content-placeholder" required
          placeholder="게시글을 입력해 주세요" th:text="*{strollBoardContent}"></textarea>
      </div>

      <!-- 달력, 지도 api사용 부분 -->
      <div class="calender-and-map-wrap">
        <!-- 달력 api 시작 -->
        <div class="calender-box">
          <div class="date-input-section">
            <p class="date-text"> Date :</p>
            <input type="text" id="selectedDate" name="strollBoardMeetingDate" readonly th:value="*{strollBoardMeetingDate}">
          </div>
          <div id="datepicker"></div>
        </div>
        <!-- 달력 api 끝 -->

        <!-- 카카오지도 api 시작 -->
        <div class="kakao-map-api-wrap">

          <div class="map_wrap">
            <div class="map-search-section">
              위치 검색 : <input type="text" name="strollBoardMeetingPlace" class="search-input" placeholder="모일 위치를 검색해주세요" th:value="*{strollBoardMeetingPlace}">
              <button type="button" class="search-btn">
                <i class="fa-solid fa-magnifying-glass" style="color: #343434;"></i>
              </button>
            </div>
            <div id="map"></div>
          </div>
          <!-- 행정구역 -->                                                               
          <input type="hidden" class="administrative-district" name="strollBoardAdminDistrict" th:value="*{strollBoardAdminDistrict}" required>
          <!-- 위도 -->
          <input type="hidden" class="marker-lat" name="strollBoardLat" th:value="*{strollBoardLat}" required>
          <!-- 경도 -->
          <input type="hidden" class="marker-lng" name="strollBoardLng" th:value="*{strollBoardLng}" required>
          <!-- 카카오지도 api끝 -->
        </div>
      </div>

      <!-- 게시글 등록 부분 버튼 부분 -->
      <div class="board-write-btn-wrap">
        <button type="submit" class="board-write-btn">
          글 수정
        </button>

      </div>




    </form>
  </div>
<footer th:replace="fragment/footer :: footer"></footer>
<th:block th:unless="${session.userNumber==null}">
  <div id="chat--screen" th:replace="fragment/chat :: chat"></div>
</th:block>

  <script>
    let boardLat = [[${board.strollBoardLat}]];
    let boardLng = [[${board.strollBoardLng}]];
  </script>
  <!-- 폰트어썸 -->
  <script src="https://kit.fontawesome.com/c6992f5b12.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
  <!-- 달력Api js -->
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script th:src="@{/js/strollBoard/boardModifyCalenderApi.js}"></script>
  <!-- 카카오지도Api js -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dc12d7c2624483dc7c019a0a91b727f&libraries=services"></script>
  <script th:src="@{/js/strollBoard/boardModifyKakaoMapApi.js}"></script>
  <script th:src="@{/js/strollBoard/strollBoardModify.js}"></script>
  <script th:src="@{/js/fragment/header.js}"></script>
  <script type="module" th:src="@{/js/fragment/chat.js}"></script>

</body>

</html>