<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/reviewModal/reviewModal.css}"/>
    <title>반려동물 프로필 수정</title>
</head>
<body>
<!--    &lt;!&ndash; 수정 버튼 예시 // &ndash;&gt;-->
<!--    <article class="edit-box">-->
<!--      <div class="select-box">-->
<!--        &lt;!&ndash; '수정' 버튼 클릭 > 모달 띄워주기 &ndash;&gt;-->
<!--        <a href="#" class="modify1" 동물의 종류를 입력해주세요-->
<!--          >수정-->
<!--          <img src="https://lifet.co.kr/img/icon/icon_modify.svg" alt="" />-->
<!--        </a>-->
<!--        <br />-->
<!--        <hr />-->
<!--        <a href="#" class="delete1"-->
<!--          >삭제-->
<!--          <img src="https://lifet.co.kr/img/icon/icon_del.svg" alt="" />-->
<!--        </a>-->
<!--      </div>-->
<!--    </article>-->
<!--    &lt;!&ndash; 수정 버튼 예시 // &ndash;&gt;-->
<div id="modal-container">
    <div id="profile-box">
        <div class="profile-header">
            <div class="profile-title">
                <h3>후기 작성</h3>
            </div>
            <div class="btn-close">
                <img src="/cancel.png" alt="닫기" width="30" height="30"/>
            </div>
        </div>
        <div id="profile-contents">
            <form action="#" method="get">
                <div id="profile-info">
                    <input
                            type="hidden"
                            name="rate"
                            id="rate"
                            value="0"
                            class="rate"
                    />
                    <p style="text-align: center">별점과 리뷰를 남겨주세요</p>
                    <div class="field" style="justify-content: center">
                        <div class="star-rating">
                            <input
                                    type="radio"
                                    id="star1"
                                    name="rating"
                                    value="1"
                                    class="rating"
                            />
                            <label class="fa-regular fa-star"></label>
                            <input
                                    type="radio"
                                    id="star2"
                                    name="rating"
                                    value="2"
                                    class="rating"
                            />
                            <label class="fa-regular fa-star"></label>
                            <input
                                    type="radio"
                                    id="star3"
                                    name="rating"
                                    value="3"
                                    class="rating"
                            />
                            <label class="fa-regular fa-star"></label>
                            <input
                                    type="radio"
                                    id="star4"
                                    name="rating"
                                    value="4"
                                    class="rating"
                            />
                            <label class="fa-regular fa-star"></label>
                            <input
                                    type="radio"
                                    id="star5"
                                    name="rating"
                                    value="5"
                                    class="rating"
                            />
                            <label class="fa-regular fa-star"></label>
                        </div>
                    </div>
                </div>
                <div class="comment-section">
              <textarea
                      class="reply-section"
                      placeholder="댓글을 입력하세요."
                      style="resize: none"
              ></textarea>
                </div>
                <!-- <div class="basic-photo">
                  <img
                    id="uploaded-image"
                    src="https://lifet.co.kr/img/profile/default.png"
                    alt=""
                  />
                  <label for="photo-file">
                    <input
                      type="file"
                      name="photo-file"
                      id="photo-file"
                      accept=".jpg, .jpeg, .png"
                      class="hidden"
                      onchange="updateImage(this)"
                    />
                    <div class="file-circle">
                      <img
                        src="https://lifet.co.kr/img/profile/prifle_camera.png"
                        alt=""
                        class="file-img"
                      />
                    </div>
                  </label>
                  <div class="change_default-img">
                    <button type="button" onclick="restoreDefaultImg()">
                      기본 이미지
                    </button>
                  </div>
                </div> -->

                <div class="update-btn_wrap" style="margin-top: 25px">
                    <button id="updateBtn" class="update-btn">저장하기</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
></script>
<script
        src="https://kit.fontawesome.com/85b8cbcba2.js"
        crossorigin="anonymous"
></script>
<link rel="stylesheet" href="fontawesome-stars.css"/>
<script th:src="@{/js/reviewModal/reviewModal.js}"></script>
</body>
</html>
