<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>펫시터신청관리</title>
  <link rel="stylesheet" th:href="@{/css/admin/applicationManage.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>

<body>
  <header th:replace="fragment/header :: header"></header>

<div class="whole-container">

  <div class="side-menubar" th:replace="fragment/adminSideBar :: adminSideBar"></div>

  <div class="content-container">
    <div class="menu-category" th:replace="fragment/adminStatistics :: adminStatistics"></div>

    <h2 class="guide-menu">펫시터 신청 관리</h2>
    <div class="bottom-bar"></div>

    <div class="detailed-guide">* 펫시터 신청글 목록입니다. 제목을 클릭 시 신청서열람페이지로 이동합니다.</div>


    <div class="container">

      <table class="board-table">
        <div class="head-layout">
          <thead>
          <tr>
            <th class="table-head-left">번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th class="table-head-right">작성일</th>
          </tr>
          </thead>
        </div>
        <tbody>
        <!-- ========== 게시글 목록 예시 =========== -->

        <!-- <th:block th:if="${not #lists.isEmpty(boardList)}">
            <tr th:each="board : ${boardList}"> -->
        <td class="no">1</td>
        <td class="title">
          <a href="#">
            펫시터 신청합니다. 저는 강아지 전문 펫시터에요.
          </a>
        </td>
        <td class="user-name">한유리</td>
        <td class="date">2023-06-13 10:53:08</td>
        </tr>

        <!-- 더미데이터 예시 -->
        <td class="no">2</td>
        <td class="title">
          <a href="#">
            고양이 전문 펫시터 신청합니다.
          </a>
        </td>
        <td class="user-name">이주영</td>
        <td class="date">2023-06-13 10:53:08</td>
        </tr>
        <!-- 더미데이터 예시 -->

        <!-- </th:block>
        <th:block th:unless="${not #lists.isEmpty(boardList)}"> -->
        <tr>
          <td colspan="5" align="center">신청서가 없습니다.</td>
        </tr>
        <!-- </th:block> -->

        <!-- ========== /게시글 목록 예시 =========== -->
        </tbody>
      </table>
      <div class="pagination">
        <ul>
          <!-- ========== 페이징 처리 예시 ============ -->
          <li><a href="#" class="prev">&lt;</a></li>
          <li><a href="#" class="active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#" class="next">&gt;</a></li>
          <!-- ========== /페이징 처리 예시 ============ -->
        </ul>
      </div>


    </div>



  </div>
  </div>

  <footer th:replace="fragment/footer :: footer"></footer>
  <script th:src="@{/js/fragment/header.js}"></script>
</body>

</html>