<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>펫시터회원관리</title>
  <link rel="stylesheet" th:href="@{/css/admin/petsitterManage.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>

<body>
<header th:replace="fragment/header :: header"></header>

<div class="whole-container">

  <div class="side-menubar" th:replace="fragment/adminSideBar :: adminSideBar"></div>

  <div class="content-container">
    <div class="menu-category" th:replace="fragment/adminStatistics :: adminStatistics"></div>

    <h2 class="guide-menu">펫시터회원 관리</h2>
    <div class="bottom-bar"></div>

    <div class="detailed-guide">* 회원 아이디를 클릭 시 회원상세페이지로 이동합니다.</div>

    <div class="search-box">
      <input type="text" class="search-txt" placeholder="Search-id">
      <button type="submit" class="search-button"></button>
    </div>


    <div class="container">

      <table class="board-table">
        <div class="head-layout">
          <thead>
          <tr>
            <th class="table-head-left">펫시터번호</th>
            <th>아이디</th>
            <th>전문 분야</th>
            <th>연락처</th>
            <th>후기</th>
            <th class="table-head-right">평균평점</th>
          </tr>
          </thead>
        </div>
        <tbody>
        <!-- ========== 게시글 목록 예시 =========== -->

        <!-- <th:block th:if="${not #lists.isEmpty(boardList)}">
            <tr th:each="board : ${boardList}"> -->
        <td class="no">1</td>
        <td class="user-id">
          <a href="#">
            aa123
          </a>
        </td>
        <td class="specialty">강아지, 고양이</td>
        <td class="phone-num">010-1234-5678</td>
        <td class="review">20</td>
        <td class="average">3.9</td>
        </tr>

        <!-- 더미데이터 예시 -->
        <td class="no">2</td>
        <td class="user-id">
          <a href="#">
            bb123
          </a>
        </td>
        <td class="specialty">강아지, 고양이, 기타</td>
        <td class="phone-num">010-2222-3333</td>
        <td class="review">32</td>
        <td class="average">4.8</td>
        </tr>
        <!-- 더미데이터 예시 -->

        <!-- </th:block>
        <th:block th:unless="${not #lists.isEmpty(boardList)}"> -->
        <tr>
          <td colspan="6" align="center">등록된 회원이 없습니다.</td>
        </tr>
        <!-- </th:block> -->

        <!-- ========== /게시글 목록 예시 =========== -->
        </tbody>
      </table>
      <div class="pagination">
        <ul>
          <!-- ========== 페이징 처리 예시 ============ -->
          <li><a href="#" class="prev">&lt;</a></li>
          <li><a href="#" class="active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#" class="next">&gt;</a></li>
          <!-- ========== /페이징 처리 예시 ============ -->
        </ul>
      </div>


    </div>



  </div>
  </div>

  <footer th:replace="fragment/footer :: footer"></footer>
  <script th:src="@{/js/fragment/header.js}"></script>
</body>

</html>