<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>산책게시판관리</title>
    <link rel="stylesheet" th:href="@{/css/admin/strollBoardManage.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>

<body>
<header th:replace="fragment/adminHeader :: adminHeader"></header>

<div class="whole-container">

    <div class="side-menubar" th:replace="fragment/adminSideBar :: adminSideBar"></div>

    <div class="content-container">
        <div class="menu-category" th:replace="fragment/adminStatistics :: adminStatistics"></div>

        <h2 class="guide-menu">산책모임게시판 관리</h2>
        <div class="bottom-bar"></div>

        <div class="detailed-guide">* 제목을 클릭 시 해당 게시글 열람페이지로 이동합니다.</div>

        <div class="search-box">
            <input type="text" class="search-txt" placeholder="Search">
            <button type="submit" class="search-button"></button>
        </div>

        <div class="container">

            <table class="board-table">
                <div class="head-layout">
                    <thead>
                    <tr>
                        <th class="table-head-left">번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>모임 일자</th>
                        <th class="table-head-right">지역</th>
                    </tr>
                    </thead>
                </div>
                <tbody>
                <!-- ========== 게시글 목록 예시 =========== -->

                <!--        <th:block th:unless="${#lists.isEmpty(boardList)}">-->
                <!--          <tr th:each="board : ${boardList}">-->
                <!--            <td class="no" th:text="${board.strollBoardNumber}"></td>-->
                <!--            <td class="title">-->
                <!--              <a th:href="@{/stroll/view(strollBoardNumber=${board.strollBoardNumber})}"-->
                <!--                 th:text="${board.strollBoardTitle}"></a>-->
                <!--            </td>-->
                <!--            <td class="author" th:text="${board.userId}"></td>-->
                <!--            <td class="date" th:text="${board.strollBoardMeetingDate}"></td>-->
                <!--            <td class="location" th:text="${board.strollBoardAdminDistrict}"></td>-->
                <!--          </tr>-->
                <!--        </th:block>-->
                <!--        <th:block th:if="${#lists.isEmpty(boardList)}">-->
                <!--          <tr>-->
                <!--            <td colspan="5" align="center">등록된 게시물이 없습니다.</td>-->
                <!--          </tr>-->
                <!--        </th:block>-->

                <!-- ========== /게시글 목록 예시 =========== -->
                </tbody>
            </table>
            <div class="pagination">
                <ul class="page-ul">
                    <!-- ========== 페이징 처리 예시 ============ -->
                    <!--          <li  th:if="${pageInfo.prev}"><a th:href="@{/admin/strollBoardManage(page=${pageInfo.startPage-1})}" class="prev">&lt;</a></li>-->

                    <!--          <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">-->
                    <!--            <li th:if="${i == pageInfo.criteria.page}"><a th:href="@{/admin/strollBoardManage(page=${i})}" class="active" th:text="${i}"></a></li>-->
                    <!--            <li th:unless="${i == pageInfo.criteria.page}"><a th:href="@{/admin/strollBoardManage(page=${i})}" th:text="${i}"></a></li>-->
                    <!--          </th:block>-->


                    <!--          <li th:if="${pageInfo.next}"><a th:href="@{/admin/strollBoardManage(page=${pageInfo.endPage+1})}" class="next">&gt;</a></li>-->
                    <!-- ========== /페이징 처리 예시 ============ -->
                </ul>
            </div>


        </div>


    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<footer th:replace="fragment/adminFooter :: adminFooter"></footer>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/fragment/adminStatistics.js}"></script>
<script th:src="@{/js/admin/strollBoardManage.js}"></script>
</body>

</html>