<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>산책게시판관리</title>
  <link rel="stylesheet" th:href="@{/css/admin/strollBoardManage.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>

<body>
<header th:replace="fragment/adminHeader :: adminHeader"></header>

<div class="whole-container">

  <div class="side-menubar" th:replace="fragment/adminSideBar :: adminSideBar"></div>

  <div class="content-container">
    <div class="menu-category" th:replace="fragment/adminStatistics :: adminStatistics"></div>

    <h2 class="guide-menu">산책모임게시판 관리</h2>
    <div class="bottom-bar"></div>

    <div class="detailed-guide">* 제목을 클릭 시 해당 게시글 열람페이지로 이동합니다.</div>

  <div class="search-box">
    <input type="text" class="search-txt" placeholder="Search">
    <button type="submit" class="search-button"></button>
  </div>

    <div class="container">

      <table class="board-table">
        <div class="head-layout">
          <thead>
          <tr>
            <th class="table-head-left">번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>모임 일자</th>
            <th class="table-head-right">지역</th>
          </tr>
          </thead>
        </div>
        <tbody>
        <!-- ========== 게시글 목록 예시 =========== -->

        <!-- <th:block th:if="${not #lists.isEmpty(boardList)}">
            <tr th:each="board : ${boardList}"> -->
        <td class="no">1</td>
        <td class="title">
          <a href="#">
            고양이 집사들 산책모임 원합니다. 강남역 앞에서 만나요.
          </a>
        </td>
        <td class="author">aa123</td>
        <td class="date">2023-06-08</td>
        <td class="location">서울시 강남구</td>
        </tr>

        <!-- 더미데이터 예시 -->
        <td class="no">2</td>
        <td class="title">
          <a href="#">
            개롱역 근처에서 저희 강아지랑 같이 산책하실 분 구합니다.
          </a>
        </td>
        <td class="author">bb123</td>
        <td class="date">2023-06-10</td>
        <td class="location">서울시 송파구</td>
        </tr>
        <!-- 더미데이터 예시 -->

        <!-- </th:block>
        <th:block th:unless="${not #lists.isEmpty(boardList)}"> -->
        <tr>
          <td colspan="5" align="center">등록된 게시물이 없습니다.</td>
        </tr>
        <!-- </th:block> -->

        <!-- ========== /게시글 목록 예시 =========== -->
        </tbody>
      </table>
      <div class="pagination">
        <ul>
          <!-- ========== 페이징 처리 예시 ============ -->
          <li><a href="#" class="prev">&lt;</a></li>
          <li><a href="#" class="active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#" class="next">&gt;</a></li>
          <!-- ========== /페이징 처리 예시 ============ -->
        </ul>
      </div>


    </div>



  </div>
  </div>

<footer th:replace="fragment/adminFooter :: adminFooter"></footer>
</body>

</html>