<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.happypetsday.dto.UserDto" alias="userDto"/>
        <typeAlias type="com.example.happypetsday.dto.PetDto" alias="petDto"/>
        <typeAlias type="com.example.happypetsday.vo.PetVo" alias="petVo"/>
        <typeAlias type="com.example.happypetsday.dto.PetFileDto" alias="petFileDto"/>
        <typeAlias type="com.example.happypetsday.dto.StrollBoardDto" alias="strollBoardDto"/>
        <typeAlias type="com.example.happypetsday.vo.StrollBoardVo" alias="strollBoardVo"/>
        <typeAlias type="com.example.happypetsday.vo.RecommendVo" alias="recommendVo"/>
        <typeAlias type="com.example.happypetsday.dto.StrollReplyDto" alias="strollReplyDto"/>
        <typeAlias type="com.example.happypetsday.vo.StrollReplyVo" alias="strollReplyVo"/>
        <typeAlias type="com.example.happypetsday.vo.UserVo" alias="userVo"/>
        <typeAlias type="com.example.happypetsday.dto.SitterApplyDto" alias="sitterApplyDto"/>
        <typeAlias type="com.example.happypetsday.dto.SitterApplyLicenseFile" alias="sitterApplyLicenseFile"/>
        <typeAlias type="com.example.happypetsday.vo.Criteria" alias="criteria"/>
        <typeAlias type="com.example.happypetsday.dto.AdoptDto" alias="adoptDto"/>
        <typeAlias type="com.example.happypetsday.dto.SitterProfileFileDto" alias="sitterProfileFileDto"/>
        <typeAlias type="com.example.happypetsday.dto.SitterFileDto" alias="sitterFileDto"/>
        <typeAlias type="com.example.happypetsday.vo.SitterVo" alias="sitterVo"/>
        <typeAlias type="com.example.happypetsday.vo.SitterListVo" alias="sitterListVo"/>
        <typeAlias type="com.example.happypetsday.dto.SitterDto" alias="sitterDto"/>
        <typeAlias type="com.example.happypetsday.dto.SitterFieldDto" alias="sitterFieldDto"/>
        <typeAlias type="com.example.happypetsday.vo.SitterApplyVo" alias="sitterApplyVo"/>
        <typeAlias type="com.example.happypetsday.vo.SitterReviewVo" alias="sitterReviewVo"/>
        <typeAlias type="com.example.happypetsday.dto.SitterReservationDto" alias="sitterReservationDto"/>
        <typeAlias type="com.example.happypetsday.dto.SitterReviewDto" alias="sitterReviewDto"/>
    </typeAliases>

</configuration>