<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.happypetsday.dto.UserDto" alias="userDto"/>
        <typeAlias type="com.example.happypetsday.dto.PetDto" alias="petDto"/>
        <typeAlias type="com.example.happypetsday.vo.PetVo" alias="petVo"/>
        <typeAlias type="com.example.happypetsday.dto.PetFileDto" alias="petFileDto"/>
        <typeAlias type="com.example.happypetsday.dto.StrollBoardDto" alias="strollBoardDto"/>
        <typeAlias type="com.example.happypetsday.vo.StrollBoardVo" alias="strollBoardVo"/>
        <typeAlias type="com.example.happypetsday.vo.RecommendVo" alias="recommendVo"/>
    </typeAliases>

</configuration>