<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--    <link rel="stylesheet" href="fontawesome-stars.css" />-->
    <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"
    />
    <link rel="stylesheet" th:href="@{/css/myPage/reservation-user.css}"/>
    <link rel="stylesheet" th:href="@{/css/reviewModal/reviewModal.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <title>Happy Pet's day | 예약 내역</title>
</head>
<body>
<!--   모달     -->
<div id="modal-container">
    <div id="profile-box">
        <div class="profile-header">
            <div class="profile-title">
                <h3>후기 작성</h3>
            </div>
            <div class="btn-close">
                <img src="../../img/pngwing.com.png" alt="닫기" width="30" height="30"/>
            </div>
        </div>
        <div id="profile-contents">
            <div id="profile-info">
                <p style="text-align: center">별점과 리뷰를 남겨주세요</p>
                <div class="field" style="justify-content: center">
                    <div class="star-rating">
                        <input
                                type="radio"
                                id="star1"
                                name="reviewScore"
                                value="5"
                                class="rating"
                        />
                        <label class="fa-regular fa-star"></label>
                        <input
                                type="radio"
                                id="star2"
                                name="reviewScore"
                                value="4"
                                class="rating"
                        />
                        <label class="fa-regular fa-star"></label>
                        <input
                                type="radio"
                                id="star3"
                                name="reviewScore"
                                value="3"
                                class="rating"
                        />
                        <label class="fa-regular fa-star"></label>
                        <input
                                type="radio"
                                id="star4"
                                name="reviewScore"
                                value="2"
                                class="rating"
                        />
                        <label class="fa-regular fa-star"></label>
                        <input
                                type="radio"
                                id="star5"
                                name="reviewScore"
                                value="1"
                                class="rating"
                        />
                        <label class="fa-regular fa-star"></label>
                    </div>
                </div>
            </div>
            <div class="comment-section">
              <textarea
                      class="reply-section"
                      placeholder="댓글을 입력하세요."
                      style="resize: none"
                      name="reviewContent"
              ></textarea>
            </div>

            <div class="update-btn_wrap" style="margin-top: 25px">
                <input type="hidden" class="userNumberForReview">
                <input type="hidden" class="sitterNumberForReview">
                <input type="hidden" class="resNumberForReview">
                <input type="hidden" id="rate" class="rate" value="0"/>
                <button type="button" id="updateBtn" class="update-btn">저장하기</button>
            </div>

        </div>
    </div>
</div>

<!-- Header -->
<header th:replace="fragment/header :: header"></header>

<section id="container">
    <!-- 왼쪽 탭 목록 -->
    <div class="mypage-left" th:replace="fragment/myPageSideBar :: myPageSideBar"></div>

    <!-- 오른쪽 컨텐츠 -->
    <div class="mypage-right">
        <h2>예약 내역</h2>

        <div id="list-wrap">
            <th:block th:each="res : ${resList}">
                <!--          <div id="contents-box" th:style="${res.reviewCnt == 0 ? '' : 'opacity: 0.6; pointer-events: none;'}">-->
                <div id="contents-box">
                    <!-- 예약 후 이용하기 전 상태 -->
                    <input type="hidden" id="resNumber" class="res-number" name="resNumber"
                           th:value="${res.reservationNumber}">
                    <input type="hidden" id="resStatus" class="res-status" name="resStatus"
                           th:value="${res.reservationStatus}">
                    <input type="hidden" id="sitterNumber" class="sitter-number" name="sitterNumber"
                           th:value="${res.sitterNumber}">
                    <div class="reservation-status"
                         th:text="${res.reservationStatus}"
                         th:classappend="${res.reservationStatus == '이용 완료'} ? 'green' : (${res.reservationStatus == '취소'} ? 'red' : '')">
                    </div>

                    <div class="info-wrap">
                        <h4>예약 날짜</h4>
                        <span th:text="${res.reservationDate}"></span>
                    </div>
                    <div class="info-wrap">
                        <h4>펫시터</h4>
                        <span th:text="${res.sitterName}"></span>
                    </div>
                    <div class="info-wrap">
                        <h4>전문 분야</h4>
                        <span th:text="${res.petFieldName}"></span>
                    </div>

                    <!-- 버튼 -->
                    <div class="button-wrap">
                        <th:block th:if="${res.reservationStatus == '예약 완료'}">
                            <button type="button" class="cancel basic-btn">예약 취소</button>
                            <button type="button" class="complete basic-btn">이용 완료</button>
                            <button type="button" class="r-res review-btn" style="display: none">다시 예약하기</button>
                            <button type="button" class="review review-btn" style="display: none">후기 작성</button>
                            <button type="button" class="my-review review-btn" style="display: none">리뷰 보기</button>
                        </th:block>
                        <th:block th:if="${res.reservationStatus == '취소'}">
                            <button type="button" class="cancel basic-btn" style="display: none">예약 취소</button>
                            <button type="button" class="complete basic-btn" style="display: none">이용 완료</button>
                            <button type="button" class="r-res review-btn">다시 예약하기</button>
                        </th:block>
                        <th:block th:if="${res.reservationStatus == '이용 완료'}">
                            <button type="button" class="review review-btn"
                                    th:style="${res.reviewCnt == 0 ? 'display: block;' : 'display: none;'}">후기 작성
                            </button>
                            <button type="button" class="r-res review-btn"
                                    th:style="${res.reviewCnt == 0 ? 'display: none;' : 'display: block;'}">다시 예약하기
                            </button>
                            <button type="button" class="my-review review-btn"
                                    th:style="${res.reviewCnt == 0 ? 'display: none;' : 'display: block;'}">리뷰 보기
                            </button>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </div>

        <div class="pagination">
            <ul>
                <li th:if="${pageInfo.prev}">
                    <a th:href="@{/myPage/reservationList/(page=${pageInfo.startPage-1})}" class="prev">&lt;</a>
                </li>

                <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                    <li th:if="${i == pageInfo.criteria.page}">
                        <a th:href="@{/myPage/reservationList/(page=${i})}" class="active" th:text="${i}"></a>
                    </li>
                    <li th:unless="${i == pageInfo.criteria.page}">
                        <a th:href="@{/myPage/reservationList/(page=${i})}" th:text="${i}"></a>
                    </li>
                </th:block>

                <li th:if="${pageInfo.next}">
                    <a th:href="@{/myPage/reservationList/(page=${pageInfo.endPage+1})}" class="next">&gt;</a>
                </li>
            </ul>
        </div>
</section>

<!-- Footer -->
<footer th:replace="fragment/footer :: footer"></footer>

<script
        src="https://kit.fontawesome.com/85b8cbcba2.js"
        crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/reviewModal/reviewModal.js}"></script>
<script th:src="@{/js/myPage/reservation-user.js}"></script>
</body>
</html>
