<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"
    />
    <link rel="stylesheet" th:href="@{/css/myPage/reservation-user.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <title>Happy Pet's day | 예약 내역</title>
  </head>
  <body>
    <!-- Header -->
    <header th:replace="fragment/header :: header"></header>

    <section id="container">
      <!-- 왼쪽 탭 목록 -->
      <div class="mypage-left" th:replace="fragment/myPageSideBar :: myPageSideBar"></div>

      <!-- 오른쪽 컨텐츠 -->
      <div class="mypage-right">
        <h2>예약 내역</h2>

        <div id="list-wrap">
          <div id="contents-box">
            <!-- 예약 후 이용하기 전 상태 -->
            <div class="reservation-status before">예약 완료</div>
            <div class="info-wrap">
              <h4>예약 날짜</h4>
              <span>2023년 6월 13일</span>
            </div>
            <div class="info-wrap">
              <h4>펫시터</h4>
              <span>매갱인</span>
            </div>
            <div class="info-wrap">
              <h4>동물 종류</h4>
              <span>강아지</span>
            </div>
            <div class="info-wrap">
              <h4>가격</h4>
              <span>60000원</span>
            </div>

            <!-- 버튼 -->
            <div class="button-wrap">
              <button type="button" class="cancel basic-btn">예약 취소</button>
              <button type="button" class="complete basic-btn">이용 완료</button>
              <!-- '후기 작성' 클릭 > 작성 모달창 띄워주기 -->
              <button type="button" class="review review-btn" style="display: none">후기 작성</button>
              <button type="button" class="r_res review-btn" style="display: none">다시 예약하기</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer th:replace="fragment/footer :: footer"></footer>

    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/fragment/header.js}"></script>
    <script th:src="@{/js/myPage/reservation-user.js}"></script>
  </body>
</html>
