<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"
    />
    <link rel="stylesheet" th:href="@{/css/myPage/strollList.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <title>Happy Pet's day | 산책 모임</title>
</head>
<!-- 회원정보 수정 페이지 -->
<body>
<!-- Header -->
<header th:replace="fragment/header :: header"></header>

<!-- 회원정보 -->
<section id="container">
    <!-- 왼쪽 탭 목록 -->
    <div class="mypage-left" th:replace="fragment/myPageSideBar :: myPageSideBar"></div>

    <!-- 오른쪽 컨텐츠 -->
    <div class="mypage-right">
        <h2>산책 모임</h2>

        <div class="container">
            <table class="board-table">
                <div class="head-layout">
                    <thead>
                    <tr>
                        <th class="table-head-left">번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>모임 일자</th>
                        <th class="table-head-right">지역</th>
                    </tr>
                    </thead>
                </div>
                <th:block th:unless="${#lists.isEmpty(boardList)}">
                    <tr th:each="board : ${boardList}">
                        <td class="no" th:text="${board.strollBoardNumber}"></td>
                        <td class="title">
                            <a th:href="@{/stroll/view(strollBoardNumber=${board.strollBoardNumber})}"
                               th:text="${board.strollBoardTitle}"></a>
                        </td>
                        <td class="author" th:text="${board.userId}"></td>
                        <td class="date" th:text="${board.strollBoardMeetingDate}"></td>
                        <td class="location" th:text="${board.strollBoardAdminDistrict}"></td>
                    </tr>
                </th:block>
                <th:block th:if="${#lists.isEmpty(boardList)}">
                    <tr>
                        <td colspan="5" align="center">등록된 게시물이 없습니다.</td>
                    </tr>
                </th:block>
            </table>
            <div class="pagination">
                <ul>
                    <li th:if="${pageInfo.prev}">
                        <a th:href="@{/myPage/strollList/(page=${pageInfo.startPage-1})}" class="prev">&lt;</a>
                    </li>

                    <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                        <li th:if="${i == pageInfo.criteria.page}">
                            <a th:href="@{/myPage/strollList/(page=${i})}" class="active" th:text="${i}"></a>
                        </li>
                        <li th:unless="${i == pageInfo.criteria.page}">
                            <a th:href="@{/myPage/strollList/(page=${i})}" th:text="${i}"></a>
                        </li>
                    </th:block>

                    <li th:if="${pageInfo.next}">
                        <a th:href="@{/myPage/strollList/(page=${pageInfo.endPage+1})}" class="next">&gt;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer th:replace="fragment/footer :: footer"></footer>

<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
></script>
<script th:src="@{/js/fragment/myPageSidebar.js}"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/myPage/strollList.js}"></script>
</body>
</html>
