<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"
    />
    <link rel="stylesheet" th:href="@{/css/myPage/strollList.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <title>Happy Pet's day | 산책 모임</title>
  </head>
  <!-- 회원정보 수정 페이지 -->
  <body>
    <!-- Header -->
    <header th:replace="fragment/header :: header"></header>

    <!-- 회원정보 -->
    <section id="container">
      <!-- 왼쪽 탭 목록 -->
      <div class="mypage-left" th:replace="fragment/myPageSideBar :: myPageSideBar"></div>

      <!-- 오른쪽 컨텐츠 -->
      <div class="mypage-right">
        <h2>산책 모임</h2>

        <div class="container">
          <table class="board-table">
            <div class="head-layout">
              <thead>
                <tr>
                  <th class="table-head-left">번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>모임 일자</th>
                  <th class="table-head-right">지역</th>
                </tr>
              </thead>
            </div>
            <tbody>
              <!-- ========== 게시글 목록 예시 =========== -->

              <!-- <th:block th:if="${not #lists.isEmpty(boardList)}">
                    <tr th:each="board : ${boardList}"> -->
              <td class="no">1</td>
              <td class="title">
                <a href="#">
                  고양이 집사들 산책모임 원합니다. 강남역 앞에서 만나요.
                </a>
              </td>
              <td class="author">aa123</td>
              <td class="date">2023-06-08</td>
              <td class="location">서울시 강남구</td>
              </tr>

              <!-- 더미데이터 예시 -->
              <td class="no">2</td>
              <td class="title">
                <a href="#">
                  개롱역 근처에서 저희 강아지랑 같이 산책하실 분 구합니다.
                </a>
              </td>
              <td class="author">bb123</td>
              <td class="date">2023-06-10</td>
              <td class="location">서울시 송파구</td>
              </tr>
              <!-- 더미데이터 예시 -->

              <!-- </th:block>
                <th:block th:unless="${not #lists.isEmpty(boardList)}"> -->
              <tr>
                <td colspan="5" align="center">등록된 게시물이 없습니다.</td>
              </tr>
              <!-- </th:block> -->

              <!-- ========== /게시글 목록 예시 =========== -->
            </tbody>
          </table>
          <div class="pagination">
            <ul>
              <!-- ========== 페이징 처리 예시 ============ -->
              <li><a href="#" class="prev">&lt;</a></li>
              <li><a href="#" class="active">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#" class="next">&gt;</a></li>
              <!-- ========== /페이징 처리 예시 ============ -->
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer th:replace="fragment/footer :: footer"></footer>

    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/fragment/header.js}"></script>
    <script th:src="@{/js/myPage/strollList.js}"></script>
  </body>
</html>
