*{
    margin : 0;
    padding : 0;
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: Pretendard-Bold;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: Pretendard-Medium;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: Pretendard-SemiBold;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-style: normal;
}

.container{
    width: 1200px;
    height: 600px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.error-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0 0 30px 0;
}

.error-img{
    width : 132px;
    height : 132px;
    border-radius: 10px;
}

.error-title{
    font-size: 50px;
    font-family: Pretendard-Medium;
    color: #5A82ED;
}

.msg-wrap{
    text-align: center;
}

.error-msg1{
    font-size: 40px;
    color: #343434;
    margin : 0 0 20px 0;
    font-family: Pretendard-Medium;
}

.error-msg2{
    margin : 0 0 5px 0;
}

.error-msg2,
.error-msg3{
    font-size: 18px;
    color: #343434;
}

.button-wrap{
    text-align: center;
    margin : 40px 0 0 0;
}

.button1, .button2 {
    color: #fff;
    font-family: Pretendard-SemiBold;
    background-color: #5A82ED;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #68A5FE;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    font-size: 17px;
}

.button1:hover,
.button2:hover {
    background-color: #fff;
    color: #68A5FE;
}

.button1{
    margin : 0 10px 0 0;
}

.copyright{
    margin : 70px 0 0 0;
    color : #858585;
    font-size: 13px;
}