* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  list-style-type: none;
}

.body {
  display: flex;
  justify-content: center;
}

.main {
  display: block;
  width: 1200px;
}

.main-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 60px 0 100px;
  background-color: transparent;
  min-height: 100vh;
}

.sign-wrap {
  background-color: #fff;
  box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
  -webkit-box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
  border-radius: 20px;
  width: 630px;
  margin: 0 auto;
}

.login-form {
  padding: 60px 110px;
  padding-bottom: 100px;
}

.signin {
  display: block;
}

.signin > h1 {
  font-size: 28px;
  line-height: 1.5em;
  margin-bottom: 31px;
}

.field {
  position: relative;
  margin-top: 10px;
}

.field input {
  width: 96%;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  font-size: 16px;
}

.sign-wrap .field input {
  height: 48px;
  padding-left: 14px;
  border-color: #e3e3e3;
}

.auto-log {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.check-box {
  position: relative;
  font-size: 16px;
  line-height: 1.5em;
  cursor: pointer;
}

.save-id {
  padding-left: 10px;
}

.signin .auto-log a {
  opacity: 0.5;
  line-height: 1.5em;
  /* border-bottom: 1px solid currentColor; */
  text-decoration: underline;
  text-underline-position: under;
  color: #999;
}

.signin .auto-log a:hover {
  color: #68a5fe;
}

#submit {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68a5fe;
  color: #fff;
  width: 100%;
  height: 58px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  margin-top: 40px;
  cursor: pointer;
}

#submit:hover {
  opacity: 0.8;
}

.join {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  border-radius: 30px;
  margin-top: 10px;
}

.join:hover {
  opacity: 0.8;
}

.join-btn {
  color: #68a5fe;
  font-weight: 600;
  margin-left: 20px;
  text-decoration: underline;
  text-underline-position: under;
}
