footer{
    width: 100%;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--container{
    width: 1200px;
    display: flex;
    align-items: center;
}

.footer--section1{
    display: flex;
    flex-direction: column;
}

.footer img{
    width: 150px;
    height: 70px;
}

.footer--info{
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer--section1{
    color: #7B7B7B;
    font-size: 14px;
}

.footer--section2{
    margin-left: 200px;
}

.footer--section2 div{
    color: #7B7B7B;
    font-size: 14px;
}

.footer h1{
    font-size: 18px;
}

.footer h2{
    font-size: 24px;
}