* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

header a {
    text-decoration: none;
    color: black;
}

header {
    position: sticky;
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10000;
    border-bottom: 1px solid #D8D8D8;
}

.header {
    width: 1200px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--logo img {
    height: 70px;
    width: 150px;
}

.header--container {
    width: 690px;
    display: flex;
    margin-left: 30px;
    margin-right: 100px;
    font-size: 18px;
}

.header--sub-container {
    display: flex;
    font-size: 18px;
    justify-content: flex-start;
}

.header--sub-container > a {
    margin-left: 50px;
    line-height: 70px;
}

.header--login-container {
    display: flex;
}

.header--login-container a {
    margin: 0 10px;
    font-size: 15px;
}


.header--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73px;
    height: 20px;
    padding: 7px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 60px;
}

.header--blue-btn {
    background-color: #68A5FE;
    color: white;
}

.header--white-btn {
    color: #68A5FE;
}

.header--sitter-btn {
    cursor: pointer;
    line-height: 70px;
    position: relative;
    height: 70px;
}

.header--sitter-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 100px;
    border-top: 2px solid #68A5FE;
    position: absolute;
    top: 70px;
    left: -60px;
    background-color: rgba(255, 255, 255, 0.9);
}

.header--sitter-container a {
    margin: 20px 0;
    line-height: 0;
}

.header--loc-btn{
    cursor: pointer;
    line-height: 70px;
    position: relative;
    height: 70px;
    margin-left: 50px;
}

.header--loc-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 100px;
    border-top: 2px solid #68A5FE;
    position: absolute;
    top: 70px;
    left: -60px;
    background-color: rgba(255, 255, 255, 0.9);
}

.header--loc-container a {
    margin: 20px 0;
    line-height: 0;
}