<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/sitter/applyTo.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
  <header th:replace="fragment/header :: header"></header>
    <div class="header-title">
      <h2 class="title">지원서 작성하기</h2>
    </div>
    <div style="display: flex; justify-content: center; padding-bottom: 200px">
      <div class="main">
        <p>기본 정보 확인</p>
        <form th:action="@{/sitter/apply}" method="post" enctype="multipart/form-data">
          <div class="apply-sitter">
            <div class="box-padding">
              <div>
                <p class="p-text">이름</p>
                <input type="text" name="userName"/>
              </div>
              <div>
                <p class="p-text">생년월일</p>
                <p class="new-p">
                  05년생부터(만 18세이상) 펫시터 지원이 가능합니다
                </p>
                  <input class="birth" type="text" name="userBirth" placeholder="" />
              </div>
              <div>
                <p class="p-text">연락처</p>
                <p class="new-p">
                  입력한 휴대폰 번호로 합격 여부를 알려드립니다.
                </p>
                <input type="text" name="userPhoneNumber" />
              </div>
              <div>
                <p class="p-text">거주지</p>
                <p class="new-p">시/군/구까지 입력해주세요</p>
                <input type="text" name="userAddress"/>
              </div>
            </div>
          </div>
          <div class="sitterFieldBox">
            <p>전문 분야 선택</p>
            <span
            ><span>강아지</span><input type="checkbox" name="petFieldName" value="dog"
            /></span>
            <span
            ><span>고양이</span><input type="checkbox" name="petFieldName" value="cat"
            /></span>
            <span
            ><span>기타</span><input type="checkbox" name="petFieldName" value="another"
            /></span>
          </div>
        <p class="pppp">자기 소개 및 자격증 첨부</p>
          <div class="apply-sitter">
            <div class="box-padding">
              <div>
                <p class="p-text">자기소개 및 지원동기</p>
                <div>
                  <textarea
                    name="applyContent"
                    id="self-introduce"
                    cols="30"
                    rows="10"
                  ></textarea>
                </div>
              </div>

              <div style="margin-top: 60px">
                <p class="p-text">자격증 사진 업로드</p>
                <div class="form-group">
                  <ul class="file-wrap">
                    <li>
                      <span class="material-symbols-outlined"> add </span>
                      <input
                        type="file"
                        id="post-image"
                        name="applyFile"
                        accept="image/*"
                        multiple
                        data-index="0"
                      />
                    </li>
<!--                    <li class="img-list"></li>-->
<!--                    <div class="input-hidden">-->
<!--                      <div class="license-name">-->
<!--                        <p>자격증 이름 :</p>-->
<!--                      </div>-->
<!--                      <input type="text" name="applyFileTitle"/>-->
<!--                    </div>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-align">
            <button type="submit" class="submit-btn">펫시터 지원하기</button>
          </div>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/sitter/applyTo.js}"></script>
  <script th:src="@{/js/fragment/header.js}"></script>
  <footer th:replace="fragment/footer :: footer"></footer>
  </body>
</html>
