<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/sitter/sitterList.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
  <header th:replace="fragment/header :: header"></header>
  <div class="header-title">
    <h1>펫시터를 소개합니다!</h1>
    <p>원하는 펫시터를 찾아보세요!</p>
  </div>
  <div class="main-content">
    <div class="plus-box" th:if="${showBtn ==1}">
      <div class="plus-btn">
        <span class="material-symbols-outlined"> add </span>
      </div>
    </div>
    <div class="profile-box" th:each="sitter : ${sitterList}" th:attr="data-sitter-number=${sitter.sitterNumber}">
      <div class="sitter-thumbnail">
<!---->
          <img th:src="'/upload/imgFile/' + ${sitter.sitterFileUploadPath} + '/th_' +${sitter.sitterFileUuid} + '_' + ${sitter.sitterFileFileName }" alt="" />
      </div>
      <div>
        <div class="sitter-info-box">
          <div class="sitter-info">
            <p class="sitter-name" th:text="${sitter.userName}+' 펫시터'"></p>
            <h2 th:text="${sitter.sitterHeader}"></h2>
          </div>
          <div class="sitter-profile" style="">
            <img  th:src="'/upload/profileFile/' + ${sitter.sitterProfileUploadPath} + '/th_' +${sitter.sitterProfileUuid} + '_' + ${sitter.sitterProfileFileName }" alt="" />
          </div>
        </div>
        <div class="info-text">
          <div class="star-and-review">
            <div class="star-img">
              <img
                      src="https://wayopet.com/static/images/common/star_1.png"
                      alt=""
              />
              <img
                      src="https://wayopet.com/static/images/common/star_1.png"
                      alt=""
              /><img
                    src="https://wayopet.com/static/images/common/star_1.png"
                    alt=""
            /><img
                    src="https://wayopet.com/static/images/common/star_1.png"
                    alt=""
            /><img
                    src="https://wayopet.com/static/images/common/star_1.png"
                    alt=""
            />
            </div>
            <span >5.0</span>
            <div class="bar"></div>
            <p>후기 100개</p>
          </div>
          <div class="info-price">
<!--            <div class="animal">-->
<!--              <span>₩ 100,000</span>-->
<!--              <span class="animal-name">강아지</span>-->
<!--            </div>-->
<!--            <div class="animal">-->
<!--              <span>₩ 80,000</span>-->
<!--              <span class="animal-name">고양이</span>-->
<!--            </div>-->
            <div class="animal">
<!--              <span>추후 협의</span>-->
              <span class="animal-name">전체</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="fragment/footer :: footer"></footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/sitter/sitterList.js}"></script>
  <script th:src="@{/js/fragment/header.js}"></script>
  </body>
</html>
