<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/sitter/sitterList.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
  <header th:replace="fragment/header :: header"></header>
  <div class="header-title">
    <h1>펫시터를 소개합니다!</h1>
    <p>원하는 펫시터를 찾아보세요!</p>
  </div>
  <div class="main-content">
    <th:block th:if="${session.sitterNumber == sitter.sitterNumber}">
    <div class="plus-box">
      <div class="plus-btn">
        <span class="material-symbols-outlined"> add </span>
      </div>
    </div>
    </th:block>
    <div class="profile-box">
      <div class="sitter-thumbnail">
        <img src="" alt="" />
      </div>
      <div>
        <div class="sitter-info-box">
          <div class="sitter-info">
            <p class="sitter-name">이정현 펫시터</p>
            <h2>안녕하세요 내 아이처럼 소중히 돌봐드리겠습니다.</h2>
          </div>
          <div class="sitter-profile" style="">
            <img src="" alt="" />
          </div>
        </div>
        <div class="info-text">
          <div class="star-and-review">
            <div class="star-img">
              <img
                      src="https://wayopet.com/static/images/common/star_1.png"
                      alt=""
              />
              <img
                      src="https://wayopet.com/static/images/common/star_1.png"
                      alt=""
              /><img
                    src="https://wayopet.com/static/images/common/star_1.png"
                    alt=""
            /><img
                    src="https://wayopet.com/static/images/common/star_1.png"
                    alt=""
            /><img
                    src="https://wayopet.com/static/images/common/star_1.png"
                    alt=""
            />
            </div>
            <span>5.0</span>
            <div class="bar"></div>
            <p>후기 100개</p>
          </div>
          <div class="info-price">
            <div class="animal">
              <span>₩ 100,000</span>
              <span class="animal-name">강아지</span>
            </div>
            <div class="animal">
              <span>₩ 80,000</span>
              <span class="animal-name">고양이</span>
            </div>
            <div class="animal">
              <span>₩ 60,000</span>
              <span class="animal-name">기타</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="fragment/footer :: footer"></footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/sitter/sitterList.js}"></script>
  <script th:src="@{/js/fragment/header.js}"></script>
  </body>
</html>
