<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/sitter/sitterProfile.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
</head>
<body>
<header th:replace="fragment/header :: header"></header>

<div class="img-box">

    <div class="left-box">
        <img th:src="'/upload/imgFile/' + ${sitter[0].sitterFileUploadPath} + '/th_' + ${sitter[0].sitterFileUuid} + '_' + ${sitter[0].sitterFileFileName}"
             alt="">
    </div>
    <div class="right-box">
        <th:block th:each="sitter, stat : ${sitter}" th:if="${stat.index > 0}">
            <input type="hidden" th:value="${sitter.sitterNumber}" class="sitterNumber">
            <img class="up-img"
                 th:src="'/upload/imgFile/' + ${sitter.sitterFileUploadPath} + '/th_' + ${sitter.sitterFileUuid} + '_' + ${sitter.sitterFileFileName}">
        </th:block>
    </div>
</div>

<div class="main">
    <!--메인 좌측 컨텐츠-->
    <th:block th:with="cntAvg = ${cntAndAvg}">
        <div class="main-left" th:with="info = ${info}">
            <div class="profile-img" th:with="profile = ${profile}">
                <input type="hidden" name="sitterNumber" th:value="${profile.sitterNumber}" class="sitterNumber">
                <img th:src="'/upload/profileFile/' + ${profile.sitterProfileUploadPath} + '/th_' + ${profile.sitterProfileUuid} + '_' + ${profile.sitterProfileFileName}"
                     alt=""/>
            </div>

            <div class="sitter-header">
                <h2 th:text="${info.sitterHeader}"></h2>
                <div class="sitter-like" th:with="name = ${sitterName}">
                    <div style="font-size: 17px;
    color: #333333;
    margin-right: 14px;">
                        <span class="sitter-name" th:text="${name.userName}"></span> 펫시터
                    </div>
<!--                    <div class="sitter-info">-->
<!--                        <img-->
<!--                                src="https://wayopet.com/static/images/common/star_1.png"-->
<!--                                alt=""-->
<!--                                class="img-star"-->
<!--                        />-->
<!--                        <span class="rating">5.0</span>-->
<!--&lt;!&ndash;                        <span class="review-cnt" th:text="${cntAvg.reviewCnt}">100개의 리뷰</span>&ndash;&gt;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- 경력, 자격 -->
            <div class="sitter-license">
                <div style="margin-top: 50px">
                    <p>경력·자격</p>
                </div>

                <div class="license-info" th:each="license : ${license}">
                    <!-- 자격증 파일 반복 -->
                    <div class="license-box">
                        <div class="license-file">
                            <div class="license-img"><img
                                    th:src="'/upload/applyFile/' + ${license.applyFileUploadPath} + '/th_' + ${license.applyFileUuid} + '_' + ${license.applyFileName}"
                                    alt=""/></div>
                        </div>
                        <div class="license-name">
                            <p th:text="${license.applyFileTitle}"></p>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 자소서 -->
            <div class="sitter-introduce">
                <p class="introduce">자기소개</p>
                <div class="introduce-box">
                    <p class="introduce-text" th:text="${info.sitterIntroduction}">
                    </p>
                </div>
                <div class="modify">
                    <button class="modify-btn">수정하기</button>
                </div>
            </div>

            <!-- 자소서 -->

            <!-- 댓글 컨텐츠 -->
            <div class="review-box">
                <div class="review-header">
                    <span class="test">
                    고객 후기
                    <span th:text="${cntAvg.reviewCnt}">
                    </span>
                    개
                    </span>
                    <div class="review-b">
                        <div class="star-ratings">
                            <div class="star-ratings-fill space-x-2 text-lg" th:attr="style='width: ' + ${cntAvg.scoreAvg * 20} + '%'">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                            <div class="star-ratings-base space-x-2 text-lg">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                        </div>
                        <p style="margin-left: 10px; font-size: 15px" th:text="${cntAvg.scoreAvg}"></p>
                    </div>
                </div>
                <!-- @@@@리뷰 반복 @@@@-->
                <div class="review-review" th:each="review : ${review}">
                    <div class="review-user">
                        <div class="review-user-name">
                            <span th:text="${review.userName}"></span><span> 님</span>
                            <!--                <span>(포메라니언)</span>-->
                            <div th:text="${review.reviewDate}"></div>
                        </div>
                    </div>
                    <div class="review-text">
                        <p th:text="${review.reviewContent}">
                        </p>
                    </div>
                </div>


                <button type="button" class="review-more-btn">댓글 더 보기</button>
                <!-- 리뷰 반복 -->
            </div>
            <!-- 댓글 컨텐츠 -->
        </div>
    </th:block>
    <!--메인 좌측 컨텐츠-->
    <div class="main-right">
        <input type="hidden" name="reservationDate">

        <div class="sitter-price">
            <div class="price-value">
                <p>예약 요금</p>
            </div>


            <div>
                <div class="service-box">
                    <div class="service-day">
                        <div class="new-service">
                            <div class="categori">
                                <span>강아지</span>
                            </div>
                            <th:block th:each="petInfo : ${field}">

                                <div class="specialty" th:if="${petInfo.petFieldName eq '강아지' }">
                                    <span>전문</span>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!--              <div class="service-price">-->
                    <!--                <p>₩100,000</p>-->
                    <!--              </div>-->
                </div>
            </div>


            <div>
                <div class="service-box">
                    <div class="service-day">
                        <div class="new-service">
                            <div class="categori">
                                <span>고양이</span>
                            </div>
                            <th:block th:each="petInfo : ${field}">
                                <div class="specialty" th:if="${petInfo.petFieldName eq '고양이'}">
                                    <span>전문</span>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!--              <div class="service-price">-->
                    <!--                <p>₩80,000</p>-->
                    <!--              </div>-->
                </div>
            </div>
            <div>
                <div class="service-box">
                    <div class="service-day">
                        <div class="new-service">
                            <div class="categori">
                                <span>기타</span>
                            </div>
                            <th:block th:each="petInfo : ${field}">
                                <div class="specialty" th:if="${petInfo.petFieldName eq '기타'}">
                                    <span>전문</span>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="service-price" th:with="info = ${info}">₩
                        <p th:text="${info.sitterPrice}">원</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="moveScroll"></div>

        <div class="new-calendar">
            <div class="sec_cal">
                <div class="cal_nav">
                    <a href="javascript:;" class="nav-btn go-prev">prev</a>
                    <div class="year-month"></div>
                    <a href="javascript:;" class="nav-btn go-next">next</a>
                </div>
                <div class="cal_wrap">
                    <div class="days">
                        <div class="day">일</div>
                        <div class="day">월</div>
                        <div class="day">화</div>
                        <div class="day">수</div>
                        <div class="day">목</div>
                        <div class="day">금</div>
                        <div class="day">토</div>
                    </div>
                    <div class="dates"></div>
                    <div class="calendar-schedule">
                        <div class="can-date">
                            <div></div>
                            <p>예약 가능</p>
                        </div>
                        <div class="cant-date">
                            <div></div>
                            <p>예약 마감</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reser-btn">
            <button type="button">펫시터 예약하기</button>
        </div>
    </div>
</div>

<!-- <div id="modal">
  <div id="modal-content">
    <div id="close-modal">
      <p id="modal-title">결제 내역</p>
      <span class="material-symbols-outlined"> close </span>
    </div>
    <div
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="nav-css">
        <ul id="nav">
          <li class="col">회원번호</li>
          <li class="col1">이름</li>
          <li class="col2">연락처</li>
          <li class="col3">주소</li>
          <li class="col4">날짜</li>
          <li class="col5">예약</li>
        </ul>
        <ul id="nav-content">
          <li class="col">1</li>
          <li>이정현</li>
          <li>010-1233-1233</li>
          <li>서울시 송파구</li>
          <li>2023-10-10</li>
          <li>
            <button id="false">취소하기</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/sitter/sitterProfile.js}"></script>
<!-- jQuery -->
<script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.12.4.min.js"
></script>
<script th:src="@{/js/fragment/header.js}"></script>
<footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>
