<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/recommend/petRecommendDetail.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<div class="body-container">
    <div class="title">
        <div class="title-section1">댕냥 추천소</div>
        <div class="title-section2" th:text="${detail.recommendName}"></div>
        <div class="title-section3">
            <div th:text="${detail.recommendSpecies}"></div>
        </div>
    </div>
    <div class="content-container">
        <img th:src="@{/upload/recommend/{path}(path = ${detail.recommendFileName})}" alt="">
        <div class="pre-content-container">
            <div class="pre-content">
                이름 : <span th:text="${detail.recommendName}"></span><br><br>
                성격 : <span th:text="${detail.recommendPersonality}"></span><br><br>
                털 색깔 : <span th:text="${detail.recommendColor}"></span>
            </div>
            <div class="pre-content">
                털 길이 : <span th:text="${detail.recommendLength}"></span><br><br>
                크기 : <span th:text="${detail.recommendSize}"></span><br><br>
                털 빠짐 : <span th:text="${detail.recommendAlopecia}"></span>
            </div>
        </div>
        <div class="content" th:text="${detail.recommendContent1}"></div>
        <div class="content">
            <strong>성격</strong>
            <div th:text="${detail.recommendContent2}"></div>
        </div>
        <div class="content">
            <strong>함께 살기</strong>
            <div th:text="${detail.recommendContent3}"></div>
        </div>
    </div>
    <!--    목록 돌아가기 경로 작성-->
    <a href="" class="list-btn-container">
        <div class="list-btn">목록</div>
    </a>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<footer th:replace="fragment/footer :: footer"></footer>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/recommend/petRecommendDetail.js}"></script>
</body>
</html>