<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/recommend/petRecommendList.css">
</head>
<body>
    <div class="body-header-container">
        <div class="body-header">
            <h1 class="header-title">
                반려동물 추천
            </h1>
            <div class="header-comment">
                Happy pet's day
            </div>
        </div>
        <div class="body-header2">
            <div class="sectionR section1"></div>
            <div class="sectionL section2"></div>
            <div class="sectionR section2"></div>
            <div class="sectionL section1"></div>
        </div>
        <div class="body-header3">
            <div class="tips">
                <div class="tip">
                    <img src="../../img/dog.png" alt="">
                    <div class="tip-comment">원하는 동물을 찾아드립니다</div>
                </div>
                <div class="tip">
                    <img src="../../img/cat.png" alt="">
                    <div class="tip-comment">마음에 드는 답변을 선택하세요</div>
                </div>
                <div class="tip">
                    <img src="../../img/dog2.png" alt="">
                    <div class="tip-comment">동물 종류는 계속 업데이트 됩니다.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <a href="" class="recommend-item">
            <img src="../../img/6b980705-1d57-46a4-8193-ca490d19d00d.jpg" alt="">
            <div class="recommend-item-name">골든 리트리버</div>
        </a>
        <a href="" class="recommend-item">
            <img src="../../img/6b980705-1d57-46a4-8193-ca490d19d00d.jpg" alt="">
            <div class="recommend-item-name">골든 리트리버</div>
        </a>
        <a href="" class="recommend-item">
            <img src="../../img/6b980705-1d57-46a4-8193-ca490d19d00d.jpg" alt="">
            <div class="recommend-item-name">골든 리트리버</div>
        </a>
        <a href="" class="recommend-item">
            <img src="../../img/6b980705-1d57-46a4-8193-ca490d19d00d.jpg" alt="">
            <div class="recommend-item-name">골든 리트리버</div>
        </a>
        <a href="" class="recommend-item">
            <img src="../../img/6b980705-1d57-46a4-8193-ca490d19d00d.jpg" alt="">
            <div class="recommend-item-name">골든 리트리버</div>
        </a>
        <a href="" class="recommend-item">
            <img src="../../img/6b980705-1d57-46a4-8193-ca490d19d00d.jpg" alt="">
            <div class="recommend-item-name">골든 리트리버</div>
        </a>
        <a href="" class="recommend-item">
            <img src="../../img/6b980705-1d57-46a4-8193-ca490d19d00d.jpg" alt="">
            <div class="recommend-item-name">골든 리트리버</div>
        </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="../../static/js/recommend/petRecommendList.js"></script>
</body>
</html>