<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>side-menubar</title>
</head>
<body>


<div class="side-menubar" th:fragment="adminSideBar">
    <div class="top-leftmenu">
        <div class="left-menu1"><b>관리자</b>의</div>
        <div class="left-menu2">관리페이지</div>
    </div>
    <ul class="admin-side-menu">
        <li>
            <a th:href="@{/admin/userManage}" class="menu-a">전체회원 관리</a>
        </li>
        <li>
            <a th:href="@{/admin/petsitterManage}" class="menu-a">펫시터회원 관리</a>
        </li>
        <li>
            <a th:href="@{/admin/applicationManage}" class="menu-a">펫시터 신청 관리</a>
        </li>
        <li>
            <a th:href="@{/admin/strollBoardManage}" class="menu-a">산책모임게시판 관리</a>
        </li>
    </ul>
</div>




</body>
</html>