<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu-category</title>
</head>
<body>

<div class="menu-category" th:fragment="adminStatistics">
    <div class="inner-wrap">
        <div class="menu1">
            <div class="whole-user">전체회원</div>
            <strong class="whole-user-number"></strong>
        </div>
        <div class="divide-bar"></div>
        <div class="menu2">
            <div class="basic-user">일반회원</div>
            <strong class="basic-user-number"></strong>
        </div>
        <div class="divide-bar"></div>
        <div class="menu3">
            <div class="whole-petsitter">펫시터회원</div>
            <strong class="whole-petsitter-number"></strong>
        </div>
        <div class="divide-bar"></div>
        <div class="menu4">
            <div class="unapproved-petsitter">펫시터 미승인</div>
            <strong class="unapproved-petsitter-number"></strong>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/admin/adminStatistics.js}"></script>
</body>
</html>