<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu-category</title>
</head>
<body>

<div class="menu-category" th:fragment="adminStatistics">
  <div class="inner-wrap">
    <div class="menu1">
      <div class="whole-user">전체회원</div>
      <strong class="whole-user-number">200</strong>
    </div>
    <div class="divide-bar"></div>
    <div class="menu2">
      <div class="basic-user">일반회원</div>
      <strong class="basic-user-number">180</strong>
    </div>
    <div class="divide-bar"></div>
    <div class="menu3">
      <div class="whole-petsitter">펫시터회원</div>
      <strong class="whole-petsitter-number">17</strong>
    </div>
    <div class="divide-bar"></div>
    <div class="menu4">
      <div class="unapproved-petsitter">펫시터 미승인</div>
      <strong class="unapproved-petsitter-number">3</strong>
    </div>
  </div>

</div>


</body>
</html>