<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
          rel="stylesheet"
          as="style"
          crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" th:href="@{/css/myPage/myPage.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <title>Happy Pet's day | 회원정보 수정</title>
</head>
<!-- 회원정보 수정 페이지 -->
<body>

<!-- 회원정보 -->
<section id="container" th:fragment="myPage-tab">
  <!-- 왼쪽 탭 목록 -->
  <div class="mypage-left">
    <div class="color-text">
      <span class="font-bold user-name">박광인</span>
      <span>님의 마이페이지</span>
    </div>

    <!-- 탭 별로 경로설정 -->
    <ul>
      <li>
        <h3>나의 정보</h3>
        <a th:href="@{/myPage/main}"> 회원정보 관리 </a>
      </li>
      <li>
        <h3>나의 반려동물</h3>
        <a th:href="@{/myPage/myPet}"> 프로필 관리 </a>
      </li>
      <li>
        <h3>펫시터</h3>
        <a th:href="">내 소개</a>
        <a th:href="@{/myPage/reservationList}">예약 내역 </a>
        <a th:href="@{/myPage/checkReservation}">예약 확인 </a>
      </li>
      <li>
        <h3>나의 게시물</h3>
        <a th:href="@{myPage/strollList}">산책 모임</a>
      </li>
    </ul>
  </div>

</section>

<!--<script-->
<!--        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"-->
<!--        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="-->
<!--        crossorigin="anonymous"-->
<!--        referrerpolicy="no-referrer"-->
<!--&gt;</script>-->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/myPage/myPage.js}"></script>
</body>
</html>
