<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>로그인</title>
    <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"
    />
    <link rel="stylesheet" th:href="@{/css/user/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<div class="body">
    <div class="main">
        <div class="main-container">
            <div class="sign-wrap">
                <form action="/user/login" method="post" class="login-form">
                    <div class="signin">
                        <h1>로그인</h1>
                        <div class="login-box">
                            <div class="field">
                                <input id="id" type name="userId" placeholder="아이디"/>
                            </div>
                            <div class="field">
                                <input type="password" id="password" name="userPassword" placeholder="비밀번호"/>
                            </div>
                            <div class="auto-log">
                                <div class="check-box">
                                    <input type="checkbox" name/>
                                    <label class="save-id">아이디 저장</label>
                                </div>
                                <a th:href="@{/user/findId}">아이디/
                                    비밀번호 찾기</a>
                            </div>
                            <button id="submit">로그인</button>
                        </div>
                        <div class="join">
                            "아직 계정이 없나요?"
                            <a th:href="@{/user/join}" class="join-btn">회원가입</a>
                        </div>
                        <p class="confirmMsg"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragment/footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/user/login.js}"></script>
</body>
</html>
