*{
    margin : 0;
    padding : 0;
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: Pretendard-Bold;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: Pretendard-Medium;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: Pretendard-SemiBold;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-style: normal;
}

.whole-container{
    width: 1200px;
    height : 950px;
    margin: 0 auto;
    display: flex;
}

.menu-category{
    display: flex;
    width :874px;
    height : 158px;
    border-radius: 15px;
    background-color: #E3EFFF;
    color : #343434;
    font-family: Pretendard-Regular;
}

.menu1, .menu2,
.menu3, .menu4{
    width : 163px;
    height : 72.4px;
    /* border: 1px solid black; */
}

.whole-user, .basic-user,
.whole-petsitter, .unapproved-petsitter{
    font-size: 20px;
    color: #343434;
    font-family: Pretendard-Regular;
    margin : 0 0 10px 0;
}

.whole-user-number, .basic-user-number,
.whole-petsitter-number,
.unapproved-petsitter-number{
    font-size: 28px;
    color: #343434;
    font-family: Pretendard-Regular;
}

.divide-bar{
    width : 1px;
    height : 72.4px;
    background-color : #b0acac;
}

.inner-wrap{
    display: flex;
    margin : 0 0 0 90px;
    align-items: center;
    text-align: center;
}

.top-leftmenu{
    width : 195px;
    height : 158px;
    color : #68A5FE;
    font-size: 30px;
    font-family: Pretendard-Regular;
    margin : 87px 0 0 0;
}

.admin-side-menu{
    margin : 61px 0 0 0;
}

.admin-side-menu > li {
    margin : 20px 0 29px 0;
    list-style-type: none;
}

.menu-a{
    list-style-type: none;
    text-decoration: none;
    color: #343434;
    font-size: 17px;
    font-family: Pretendard-Medium;
}

.content-container{
    margin : 50px 0 0 30px;
}

.guide-menu{
    font-size: 24px;
    font-family: Pretendard-Regular;
    color : #343434;
    margin : 40px 0 0 0;
}

.bottom-bar{
    width : 874px;
    height : 1px;
    background-color: #c3c0c0;
    margin: 13px 0 0 0;
}

.detailed-guide{
    font-size: 14px;
    font-family: Pretendard-Regular;
    color: #9A9A9A;
    margin : 15px 0 0 0;
}




/* 일반 스타일 */
body {
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 10px;
}

/* 글 목록 테이블 스타일 */
.board-table {
    width: 90%;
    margin-top: 40px;
    border-collapse: collapse;


    background-color: #fff;
    box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
    -webkit-box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
    border-radius: 20px;

}

.board-table th,
.board-table td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.board-table th {
    text-align: center;
    font-weight: bold;
    background-color: #b8d7ff;
    color : #545454;
    font-family: Pretendard-SemiBold;
}

.board-table td {
    text-align: center;
    vertical-align: middle;
    font-family: Pretendard-Regular;
}

.board-table tr:last-child td {
    border-bottom: none;
    color: #343434;
    font-family: Pretendard-Regular;;
}

.board-table tr:hover {
    background-color: #f9f9f9;
}

.board-table .no {
    color: #4b4a4a;
    width: 10%;
}

.board-table .title {
    color: #4b4a4a;
    /*width: 40%;*/
    overflow: hidden;
    height: 20px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title a{
    height: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-wrap: wrap;
}


.board-table .user-name {
    color: #4b4a4a;
    width: 15%;
}

.board-table .date {
    color: #4b4a4a;
    width: 25%;
}

/* 페이징 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width : 90%;
}

.pagination > ul {
    display: flex;
    list-style: none;
}

.pagination a {
    color: #747272;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #68A5FE;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Pretendard-SemiBold;
}

.pagination a:hover {
    background-color: #A4C9FE;
    border-color: #A4C9FE;
    color: #fff;
}

.pagination .active {
    background-color: #68A5FE;
    border-color: #68A5FE;
    color: #fff;
}

a {
    text-decoration : none;
    color : #4b4a4a;
    font-family: Pretendard-Regular;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

thead .table-head-left {
    border-top-left-radius: 10px;
    font-family: Pretendard-SemiBold;
}

thead .table-head-right {
    border-top-right-radius: 10px;
    background-color: #b8d7ff;
    font-family: Pretendard-SemiBold;
}

thead th {
    background-color: #b9d3f9;
}