<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <link rel="stylesheet" th:href="@{/css/error/errorPage.css}">
</head>
<body>
<div class="container">
  <div class="error-wrap">
    <img src="https://wayopet.com/static/images/home/dog_404.png" alt="" class="error-img">
    <div class="error-title">Error
      <!-- 타입리프 태그로 감싸기 -->
      <th:block th:text="${errorCode}"></th:block>
      - Page not found</div>
  </div>

  <div class="msg-wrap">
    <div class="error-msg1"th:text="${errorMsg}"></div>
    <div class="error-msg2">페이지가 존재하지 않거나, 사용할 수 없는 페이지입니다.</div>
    <div class="error-msg3">입력하신 주소가 정확한지 다시 한 번 확인해주세요.</div>
  </div>

  <div class="button-wrap">
    <button type="button" class="button1">이전</button>
    <button type="button" class="button2">메인으로 가기</button>
  </div>

  <div class="copyright">Copyrightⓒ Happy Pet's Day. All Right Reserved.</div>

</div>
</body>
</html>