* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  list-style-type: none;
}

:root {
  --main-color: #68a4fe;
  --main-font-color: #343434;
  --border-bottom-color: #e3e3e3;
}

/* Header */
.header-container {
  width: 100%;
  height: 80px;
  background-color: brown;
}

/* 왼쪽 탭 목록 */
#container {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 50px;
}

.color-text {
  font-size: 25px;
  color: var(--main-color);
  margin-bottom: 30px;
  width: 130px;
}

.font-bold {
  font-weight: bold;
}

.mypage-left {
  width: 15%;
}

.mypage-left ul li {
  margin-bottom: 25px;
  display: block;
}

.mypage-left ul li a {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  color: var(--main-font-color);
}

.mypage-left h3 {
  margin-bottom: 10px;
  color: var(--main-font-color);
}

/* 오른쪽 컨텐츠 정보 */
.mypage-right {
  width: 85%;
}

.mypage-right h2 {
  color: var(--main-font-color);
  font-size: 40px;
  border-bottom: 3px solid var(--border-bottom-color);
  margin-bottom: 50px;
  line-height: 80px;
}

.alert-msg {
  text-align: center;
  opacity: 0.5;
  margin-bottom: 50px;
}

form h4 {
  margin-left: 315px;
  margin-bottom: 3px;
}

#wrap-password {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#wrap-password h4 {
  margin-right: 10px;
  margin-bottom: 5px;
}

#wrap-password input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid var(--border-bottom-color);
  padding: 5px 10px;
  margin-right: 10px;
  box-shadow: none;
}

#wrap-password input:hover {
  border-color: var(--main-color);
}

#submit {
  all: unset;
  background-color: var(--main-color);
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
}

#submit:hover {
  opacity: 0.8;
}

.msg {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: center;
  margin-right: 360px;
}
