/*  버튼 모양 @@@ 

  .btn {
  all: unset;
  background-color: var(--main-color);
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 10px;
} */

/* 
  input 태그 모양

  font-size: 18px;
  font-weight: 600;
  width: 300px;
  height: 30px;
  padding: 5px 10px;
  border: 2px solid var(--border-bottom-color);
  border-radius: 10px;
*/

* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard";
    list-style-type: none;
}

:root {
    --main-color: #68a4fe;
    --main-font-color: #343434;
    --border-bottom-color: #e3e3e3;
}

/* Header */
.header-container {
    width: 100%;
    height: 80px;
    background-color: brown;
}

/* 왼쪽 탭 목록 */
#container {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 50px;
}

.color-text {
    font-size: 25px;
    color: var(--main-color);
    margin-bottom: 30px;
    width: 130px;
}

.font-bold {
    font-weight: bold;
}

.mypage-left {
    width: 15%;
}

.mypage-left ul li {
    margin-bottom: 25px;
    display: block;
}

.mypage-left ul li a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    color: var(--main-font-color);
}

.mypage-left ul li a:hover {
    opacity: 0.6;
}

.mypage-left h3 {
    margin-bottom: 10px;
    color: var(--main-font-color);
}

/* 오른쪽 컨텐츠 정보 */
.mypage-right {
    width: 85%;
}

.mypage-right h2 {
    color: var(--main-font-color);
    font-size: 40px;
    border-bottom: 3px solid var(--border-bottom-color);
    margin-bottom: 50px;
    line-height: 80px;
}

.contents-wrap {
    margin-left: 30px;
}

.info-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.info-wrap h4 {
    width: 130px;
    font-size: 18px;
    opacity: 0.6;
}

.address-wrap input {
    font-size: 14px;
    font-weight: 600;
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid var(--border-bottom-color);
    border-radius: 10px;
}

.info-wrap input::placeholder {
    opacity: 0.6;
}

.info-wrap .address {
    margin-right: 5px;
}

.info {
    font-size: 14px;
    font-weight: 600;
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid var(--border-bottom-color);
    border-radius: 10px;
}

.info:hover {
    border-color: var(--main-color);
}

#button-wrap {
    display: flex;
    justify-content: center;
}

.btn {
    all: unset;
    background-color: var(--main-color);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 10px;
}

.modify-btn:hover {
    opacity: 0.8;
}

.delete-btn:hover {
    background-color: #dc143c;
}

.msg {
    display: block;
    margin-left: 10px;
    font-size: 14px;
}

/* datepicker */
.ui-widget-header {
    border: 0px solid #dddddd;
    background: #fff;
}

.ui-datepicker-calendar > thead > tr > th {
    font-size: 14px !important;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 10px 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 0px solid #c5c5c5;
    background-color: transparent;
    font-weight: normal;
    color: #454545;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 0em;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    padding: 0px;
    font-weight: bold;
}

.ui-datepicker {
    display: none;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    padding-bottom: 10px;
    width: 300px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.ui-widget.ui-widget-content {
    border: 1px solid #eee;
}

#datepicker:focus > .ui-datepicker {
    display: block;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    cursor: pointer;
}

.ui-datepicker-next {
    float: right;
}

.ui-state-disabled {
    cursor: auto;
    color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
    text-align: center;
    padding: 10px;
    font-weight: 100;
    font-size: 20px;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-calendar > thead > tr > th {
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
}

.ui-datepicker-calendar > tbody > tr > td > a {
    color: #000;
    font-size: 12px !important;
    font-weight: bold !important;
    text-decoration: none;
}

.ui-datepicker-calendar > tbody > tr > .ui-state-disabled:hover {
    cursor: auto;
    background-color: #fff;
}

.ui-datepicker-calendar > tbody > tr > td {
    border-radius: 100%;
    width: 44px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    font-weight: 100;
    text-align: center;
    font-size: 12px;
}

.ui-datepicker-calendar > tbody > tr > td:hover {
    background-color: transparent;
    opacity: 0.6;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 0px solid #cccccc;
    background-color: transparent;
    font-weight: normal;
    color: #2b2b2b;
}

.ui-widget-header .ui-icon {
    background-image: url("../../img/btns.png");
}

.ui-icon-circle-triangle-e {
    background-position: -20px 0px;
    background-size: 36px;
}

.ui-icon-circle-triangle-w {
    background-position: -0px -0px;
    background-size: 36px;
}

.ui-datepicker-calendar > tbody > tr > td:first-child a {
    color: red !important;
}

.ui-datepicker-calendar > tbody > tr > td:last-child a {
    color: #0099ff !important;
}

.ui-datepicker-calendar > thead > tr > th:first-child {
    color: red !important;
}

.ui-datepicker-calendar > thead > tr > th:last-child {
    color: #0099ff !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 0px;
    background: #f1f1f1;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inp {
    padding: 10px 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 0px;
}

.inp:focus {
    outline: none;
    background-color: #eee;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 30%;
    border: none;
    text-align: right;
}

select {
    -webkit-appearance: none; /* for chrome */

    -moz-appearance: none; /*for firefox*/

    appearance: none;
}

select::-ms-expand {
    display: none; /*for IE10,11*/
}

select {
    background: url("arr_pink.gif") no-repeat 97% 50%/15px auto;
}

#ui-datepicker-div .ui-datepicker-title {
    display: flex;
    padding-right: 50px;
    justify-content: center;
}
