* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard";
    list-style-type: none;
}

:root {
    --main-color: #68a4fe;
    --main-font-color: #343434;
    --border-bottom-color: #e3e3e3;
    --font-green: #00bf00;
    --font-orange: #ff8c00;
}

/* Header */
.header-container {
    width: 100%;
    height: 80px;
    background-color: brown;
}

/* 왼쪽 탭 목록 */
#container {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 50px;
}

.color-text {
    font-size: 25px;
    color: var(--main-color);
    margin-bottom: 30px;
    width: 130px;
}

.font-bold {
    font-weight: bold;
}

.mypage-left {
    width: 15%;
}

.mypage-left ul li {
    margin-bottom: 25px;
    display: block;
}

.mypage-left ul li a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    color: var(--main-font-color);
}

.mypage-left ul li a:hover {
    opacity: 0.6;
}

.mypage-left h3 {
    margin-bottom: 10px;
    color: var(--main-font-color);
}

/* 오른쪽 컨텐츠 정보 */
.mypage-right {
    width: 85%;
}

.mypage-right h2 {
    color: var(--main-font-color);
    font-size: 40px;
    border-bottom: 3px solid var(--border-bottom-color);
    margin-bottom: 50px;
    line-height: 80px;
}

/* 게시물 목록 */
/* 일반 스타일 */

.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 10px;
}

/* 헤더 영역 스타일 */
/*header {*/
/*  border-bottom: 1px solid #e0e0e0;*/
/*}*/

/*.header {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  padding: 20px 0;*/
/*  max-width: 1000px;*/
/*  margin: 0 auto;*/
/*}*/

/*.header-left {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.header-left h1 {*/
/*  font-size: 25px;*/
/*  font-weight: bold;*/
/*  color: #343434;*/
/*  font-family: Pretendard-SemiBold;*/
/*}*/

/*.header-right {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.btn-group {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.header a {*/
/*  color: #333;*/
/*  text-decoration: none;*/
/*  font-weight: bold;*/
/*  padding: 10px 20px;*/
/*  border-radius: 30px;*/
/*  border: 1px solid #333;*/
/*  transition: background-color 0.3s ease, color 0.3s ease;*/
/*  margin-right: 10px;*/
/*}*/

/*.header a:hover {*/
/*  background-color: rgb(255, 87, 87);*/
/*  color: white;*/
/*  border-color: rgb(255, 87, 87);*/
/*}*/

/*.header a:last-child {*/
/*  margin-right: 0;*/
/*}*/

/* 글 목록 테이블 스타일 */
.board-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;

    background-color: #fff;
    box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
    -webkit-box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
    border-radius: 20px;
}

.board-table th,
.board-table td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.board-table th {
    text-align: center;
    font-weight: bold;
    background-color: #b8d7ff;
    color: #545454;
    font-family: Pretendard-SemiBold;
}

.board-table td {
    text-align: center;
    vertical-align: middle;
    font-family: Pretendard-Regular;
}

.board-table tr:last-child td {
    border-bottom: none;
    color: #343434;
    font-family: Pretendard-Regular;
}

.board-table tr:hover {
    background-color: #f9f9f9;
}

.board-table .no {
    color: #4b4a4a;
    width: 8%;
}

.board-table .title {
    color: #4b4a4a;
    width: 45%;
}

.board-table .author {
    color: #4b4a4a;
    width: 13%;
}

.board-table .date {
    color: #4b4a4a;
    width: 15%;
}

.board-table .location {
    color: #4b4a4a;
    width: 30%;
}

/* 페이징 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pagination > ul {
    display: flex;
    list-style: none;
}

.pagination a {
    color: #747272;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #68a5fe;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Pretendard-SemiBold;
}

.pagination a:hover {
    background-color: #a4c9fe;
    border-color: #a4c9fe;
    color: #fff;
}

.pagination .active {
    background-color: #68a5fe;
    border-color: #68a5fe;
    color: #fff;
}

a {
    text-decoration: none;
    color: #4b4a4a;
    font-family: Pretendard-Regular;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

thead .table-head-left {
    border-top-left-radius: 10px;
    font-family: Pretendard-SemiBold;
}

thead .table-head-right {
    border-top-right-radius: 10px;
    background-color: #b8d7ff;
    font-family: Pretendard-SemiBold;
}

thead th {
    background-color: #b9d3f9;
}
