* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

a {
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

.sitter-section {
    height: 700px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-section {
    height: 700px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommend-section {
    height: 700px;
}

.adopt-section {
    height: 700px;
    background-color: #F9F9F9;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: #EEF3FF;
}

.header-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    width: 1200px;
}

.header-section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-section-img {
    width: 600px;
    height: 400px;
}

.header-section-title h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.header-section-title h5 {
    font-size: 20px;
    font-weight: 400;
}

.sitter-section {
    position: relative;
}

.sitter-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    position: absolute;
    top: -100px;
}

.sitter-section1-content {
    height: 240px;
    width: 550px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitter-section1-content img {
    width: 240px;
    height: 240px;
}

.sitter-section1-content > div {
    margin-left: 40px;
}

.sitter-section1-content h1 {
    font-size: 30px;
    font-weight: 700;
}

.sitter-section1-content h2 {
    font-size: 18px;
    margin: 20px 0;
    font-weight: 400;
}

.sitter-section1-content a {
    background-color: #68A5FE;
    color: white;
    font-size: 18px;
    width: 145px;
    height: 45px;
    border-radius: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sitter-section2 {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sitter-section2-title {
    font-size: 36px;
    font-weight: 600;
    margin-top: 150px;
    margin-bottom: 50px;
}

.sitter-section2-title span {
    color: #68A5FE;
}

.sitter-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitter-info {
    display: block;
    width: 370px;
    height: 245px;
    position: relative;
}

.sitter-info img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.sitter-info-container {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7B7B7B;
    font-size: 20px;
}

.board-section-container {
    width: 1200px;
}

.board-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.board-section-title h1 {
    font-size: 36px;
}

.board-section-title a {
    font-size: 22px;
    color: black;
    display: flex;
}

.board-section-title span {
    font-size: 26px;
    margin-left: 10px;
    line-height: 23px;
}

.board-section-body {
    display: flex;
    justify-content: space-between;
}

.board-section-body-img {
    width: 370px;
    height: 470px;
    background-color: #DBE9FF;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.board-section-body-img h1 {
    font-size: 28px;
    font-weight: 600;
}

.board-section-body-img h2 {
    font-size: 18px;
    font-weight: 0;
    margin: 15px 0;
}

.board-section-body-img img {
    width: 260px;
    height: 260px;
}

.board-section-body-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 770px;
    height: 470px;
}

.board-list {
    width: 100%;
    height: 150px;
    border-radius: 14px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
    /*align-items: center;*/
}

.board-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-info-container {
    display: flex;
    align-items: center;
}

.board-list-container {
    margin: 20px 40px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-title {
    font-size: 18px;
    font-weight: 600;
}

.user-name {
    font-size: 14px;
    color: #6c6c6c;
}

.board-content {
    font-size: 16px;
    overflow: hidden;
    margin: 9px 0;
}

.board-info-container {
    font-size: 14px;
    color: #6C6C6C;
}

.board-date {
    margin-right: 20px;
}

.board-cnt {
    margin-left: 3px;
    margin-right: 20px;
}

.recommend-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: #EEF3FF;
}

.recommend-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.recommend-section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recommend-section-img {
    width: 600px;
    height: 400px;
}

.recommend-section-title h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.recommend-section-title h5 {
    font-size: 20px;
    font-weight: 400;
}

.recommend-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 83px;
    background-color: #68A5FE;
    margin-top: 50px;
}

.adopt-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adopt-section-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adopt-section-title span {
    font-size: 26px;
    margin-left: 10px;
    line-height: 23px;
}

.adopt-section-title h1 {
    font-size: 36px;
}

.adopt-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}

.adopt-section-title a {
    font-size: 22px;
    color: black;
    display: flex;
}

.adopt-section-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.adopt-section-content {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 350px;
    border-radius: 15px;
}

.adopt-section-content img {
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.adopt-section-content > div {
    padding: 18px 20px;
    width: 330px;
    height: 86px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.adopt-section-content span {
    color: #6992DE;
    font-weight: 600;
    font-size: 14px;
}

.adopt-section-content h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 7px 0 7px;
    font-weight: 600;
    color: #343434;
    font-size: 24px;
}

.adopt-section-content p {
    white-space: nowrap;
    overflow: hidden;
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 500;
}

.sitter-comment,
.sitter-name{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.sitter-comment{
    max-height: 70px;
    margin-top: 5px;
    word-break: break-all;
}
