* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.body-header-container {
    width: 100%;
}

.body-header {
    height: 400px;
    background-color: #68A5FE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}

.header-comment {
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
}

.body-header2 {
    height: 35px;
    display: flex;
}

.body-header3 {
    height: 150px;
    background-color: #f9f9f9;

    position: relative;
}

.header-section1 {
    width: 30%;
    height: 35px;
}

.header-section2 {
    width: 20%;
    height: 35px;
}

.header-sectionR {
    background: linear-gradient(to top right, #f9f9f9 49%, #68A5FE 51%);
}

.header-sectionL {
    background: linear-gradient(to top left, #f9f9f9 49%, #68A5FE 51%);
}

.tips {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -110px;
}

.tip {
    margin: 0 10px;
    width: 350px;
    height: 220px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tips img {
    width: 90px;
    height: 90px;
    margin-bottom: 35px;
}

.tip-comment {
    color: #576071;
    font-size: 18px;
    font-weight: 600;
}

.main-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #dddfe2;
    font-weight: 600;
    color: #576071;
    font-size: 23px;
    opacity: 0.3;
}

.select-zone {
    display: flex;
}

.select-btn {
    width: 110px;
    height: 80px;
    border-radius: 20px;
    border: 1px solid #dddfe2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
}

.select-btn:hover {
    background-color: #68A5FE;
    color: white;
}

.show {
    opacity: 1;
}

.click {
    background-color: #68A5FE;
    color: white;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 100px;
    color: white;
    width: 350px;
    height: 80px;
    background-color: #68A5FE;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}