* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-container {
    width: 1200px;
}

.title {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-section1 {
    font-size: 18px;
    color: #68A5FE;
}

.title-section2 {
    font-size: 28px;
    font-weight: 600;
    margin: 6px 0 14px;
}

.title-section3 {
    display: flex;
    font-size: 18px;
    color: #808080;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-size: 13px;
    color: #343434;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    margin-bottom: 50px;
}

.content-container img {
    width: 600px;
    height: 400px;
    margin-bottom: 50px;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 15px;
}

.content strong {
    font-size: 20px;
    margin: 20px 0;
}

.list-btn-container {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.list-btn {
    width: 135px;
    height: 45px;
    background-color: #68A5FE;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}

.pre-content {
    font-size: 20px;
    font-weight: bold;
}

.pre-content-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.pre-content span {

}