/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  list-style-type: none;
}

/* 전체 body 스타일 */
body {
  display: flex;
  justify-content: center;
}

/* 리스트 아이템 스타일 */
li {
  position: relative;
  text-align: center;
  width: 10%;
}

/* 링크 스타일 */
a {
  text-decoration: none;
}

/* 이미지 스타일 */
img {
  width: 60px;
  height: 60px;
}

/* 메인 컨테이너 스타일 */
.main {
  display: block;
  width: 1200px;
}

/* 헤더 컨테이너 스타일 */
.header-container {
  padding-top: 132px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Pretendard", -apple-system, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* 헤더 내비게이션 스타일 */
.header-nav {
  display: flex;
  justify-content: center;
  height: 120px;
  margin-bottom: 24px;
  border: 1px solid #d8d8d8;
  border-width: 1px 0;
  box-shadow: 6px 3px 6px rgb(0 0 0 / 8%);
}

/* 내비게이션 아이템 스타일 */
.nav-name {
  color: #999;
}

.nav-name:hover {
  color: #68a5fe;
}

/* 헤더 리스트 스타일 */
.header-list {
  font-weight: 500;
  position: relative;
  text-align: center;
  list-style-type: none;
}

/* 솔리드 아이콘 스타일 */
.fa-solid {
  text-align: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 메인 컨테이너 스타일 */
.main-container {
  margin-bottom: -65px;
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* 메인 컨테이너 타이틀 스타일 */
.main-container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 84px;
  font-size: 20px;
  font-weight: 500;
}

/* 검색 상자 스타일 */
.search-box {
  height: 90px;
  margin: 0 auto;
  background-color: #e7e7e7;
}

/* 검색박스 내부 스타일 */
.searchbox .search {
  max-width: 400px;
  height: 72px;
  margin: 0 auto;
  background-color: #e7e7e7;
}

/* 검색 입력 필드 스타일 */
#searchTxt {
  width: 250px;
  height: 40px;
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  font-size: 16px;
  padding: 0 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
}

/* 검색 버튼 스타일 */
#search-btn {
  background-image: url(https://lifet.co.kr/img/icon/icon_search.png);
  background-size: 40px;
  position: absolute;
  right: 20px;
  top: 0;
  width: 66px;
  height: 85px;
  background-color: transparent;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  border: none;
}

/* 게시판 리스트 스타일 */
.board-list {
  max-width: 1170px;
  margin: 0 auto;
}

/* 콘텐츠 리스트 스타일 */
.content-list {
  display: flex;
  flex-wrap: wrap;
  max-width: none;
  width: 1200px;
  margin: 60px auto 30px;
}

/* 게시판 데이터 스타일 */
.board-data {
  display: block;
  width: 370px;
  margin-bottom: 40px;
  margin-right: 30px;
  border-radius: 15px;
}

/* 슬라이드 카드 스타일 */
.slide-card {
  position: relative;
  display: block;
  border-radius: 15px;
  box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
}

/* 게시판 이미지 스타일 */
.board-img {
  display: block;
  overflow: hidden;
  width: 370px;
  height: 230px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  background-color: #bed8ff;
}

/* 카드 이미지 스타일 */
.card-img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

/* 게시판 텍스트 스타일 */
.board-text {
  padding: 18px 20px;
  text-align: justify;
}

/* 게시판 제목 스타일 */
.board-title {
  color: #6992de;
  font-weight: 600;
  line-height: 20.8px;
}

/* 게시판 중간 텍스트 스타일 */
.board-middle {
  color: black;
  margin: 2px 0 7px;
}

/* 게시판 하단 텍스트 스타일 */
.board-bottom {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 500;
}

/* 카드 이름 스타일 */
.card-name {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 185px;
  padding: 6px 14px;
  color: #6992de;
  font-weight: 600;
  border-radius: 54px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

/* 전체 리스트 입력 필드 스타일 */
.full-list input {
  height: 48px;
  padding-left: 14px;
  border-color: #e3e3e3;
}
