* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

body {
    font-family: Pretendard-Bold,
    Pretendard-Medium,
    Pretendard-Regular,
    Pretendard-SemiBold;
    background-color: white;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
}

textarea:focus,
input:focus {
    outline: 2px solid #68A5FE;
    border: 1px solid transparent;
}

.globar-content-wrap {
    margin: 50px auto;
    padding: 25px 0;
    width: 800px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
    -webkit-box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
    border-radius: 20px;
}

/* 제목부분  */
.title-wrap {
    height: 95px;
    width: 100%;
    margin: 10px 0;
}


.title-input {
    width: 685px;
    padding: 10px 0px 10px 15px;
    border: 1px solid #D2D2D2;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(177, 180, 198, 0.2);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(177, 180, 198, 0.2);
}

.title-guide-msg,
.my-pet-guide-msg {
    margin: 10px 0;
    font-weight: bold;
    color: #343434;

}


/* 같이 산책할 본인의 반려동물 선택 부분 */
.my-pet-list-wrap {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}

.my-pet-list-box {
    height: 75px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}


.my-pet-list {
    display: flex;
    margin-left: 5px;
}

.meeting-place-input {
    padding-top: 15px;
    color: #343434;
    font-weight: bold;
    font-size: 18px;
}

.meeting-place-input .meeting-input {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(177, 180, 198, 0.2);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(177, 180, 198, 0.2);
}


.my-pet {
    color: #68A5FE;
    background-color: #FFF;
    border: 0.3px solid #68A5FE;
    border-radius: 30px;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

input[type=radio] {
    display: none;
}

/* 게시물 글(컨텐츠) 영역 */
.content-wrap {
    height: 350px;
    width: 100%;

}

textarea {
    width: 685px;
    border: 1px solid #D2D2D2;
    resize: none;
    height: 300px;
    padding: 15px 0 15px 15px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(177, 180, 198, 0.2);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(177, 180, 198, 0.2);
}

textarea::placeholder {
    color: rgb(117, 117, 117);
}

::-webkit-input-placeholder {
    -webkit-text-security: none;
    color: rgb(117, 117, 117);
    direction: inherit !important;
    pointer-events: none !important;
    text-orientation: inherit !important;
    writing-mode: inherit !important;
    display: block !important;
}

/* 달력, 지도 api사용 부분 */
.calender-and-map-wrap {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calender-box {
    height: 400px;
    width: 46%;
}

.map-box {
    height: 400px;
    width: 54%;
}

/* 카카오지도 api관련 css 시작 */
.map_wrap {
    position: relative;
    width: 100%;
    height: 350px;
}

.title {
    font-weight: bold;
    display: block;
}

#centerAddr {
    display: block;
    margin-top: 2px;
    font-weight: normal;
}

.bAddr {
    padding: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 195px;
    height: 40px;
    font-size: 8px;
}


#map {
    width: 350px;
    height: 325px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 0.5px solid #81818195;
    /* background-color: #fff; */
    box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
    -webkit-box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);

}

.map-search-section {
    color: #343434;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.meeting-input,
.search-input {
    border-radius: 5px;
    border: 1px solid #D2D2D2;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: bold;
    height: 23.2px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 3px rgba(177, 180, 198, 0.2);
    -webkit-box-shadow: 0px 0px 12px 3px rgba(177, 180, 198, 0.2);
}

.search-btn {
    cursor: pointer;
}

/* 카카오지도 api관련 css 끝 */

/* 게시글 등록 부분 버튼 부분 */
.board-write-btn-wrap {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.board-write-btn {
    width: 200px;
    height: 50px;
    background-color: #68A5FE;
    border-radius: 30px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
}

.board-write-btn:hover {
    background-color: #7db1ff;
}












































