<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.happypetsday.mapper.AdminMapper">

    <select id="selectUserOne" resultType="userVo">
        SELECT USER_NUMBER,
               USER_ID,
               USER_NAME,
               USER_GENDER,
               USER_EMAIL,
               TO_CHAR(USER_BIRTH, 'YYYY-MM-DD') AS USER_BIRTH,
               USER_PHONE_NUMBER,
               USER_ADDRESS,
               USER_STATUS,
               STATUS_NAME
        FROM TBL_USER_STATUS S
                 JOIN TBL_USER U
                      ON S.STATUS_NUMBER = U.USER_STATUS AND U.USER_NUMBER = #{userNumber}
    </select>

    <select id="selectAllUser" resultType="userVo">
        SELECT USER_NUMBER, USER_ID, USER_NAME, USER_STATUS, STATUS_NAME
        FROM (
                 SELECT ROWNUM RN,
                        USER_NUMBER,
                        USER_ID,
                        USER_NAME,
                        USER_STATUS,
                        STATUS_NAME
                 FROM (
                          SELECT USER_NUMBER, USER_ID, USER_NAME, USER_STATUS, S.STATUS_NAME
                          FROM TBL_USER_STATUS S
                                   JOIN TBL_USER U
                                        ON S.STATUS_NUMBER = U.USER_STATUS
                          ORDER BY USER_NUMBER DESC
                      )
             <![CDATA[
                 WHERE ROWNUM <= #{page} * #{amount}
            ]]>
        )
        WHERE RN > (#{page} - 1) * #{amount}
    </select>

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(USER_NUMBER)
        FROM TBL_USER
    </select>

    <update id="update">
        UPDATE TBL_USER
        SET USER_STATUS = #{userStatus}
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <select id="searchIdName" resultType="userVo">
        SELECT USER_NUMBER, USER_ID, USER_NAME, USER_STATUS, STATUS_NAME
        FROM (
                 SELECT ROWNUM RN,
                        USER_NUMBER,
                        USER_ID,
                        USER_NAME,
                        USER_STATUS,
                        STATUS_NAME
                 FROM (
                          SELECT USER_NUMBER, USER_ID, USER_NAME, USER_STATUS, S.STATUS_NAME
                          FROM TBL_USER_STATUS S
                                   JOIN TBL_USER U
                                        ON S.STATUS_NUMBER = U.USER_STATUS
                          WHERE USER_ID LIKE '%' || #{keyword} || '%'
                             OR USER_NAME LIKE '%' || #{keyword} || '%'
                          ORDER BY USER_NUMBER DESC
                      )
             <![CDATA[
                 WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            ]]>
        )
        WHERE RN > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="searchIdNameCount">
        SELECT COUNT(USER_NUMBER)
        FROM TBL_USER
        WHERE USER_ID LIKE '%' || #{keyword} || '%'
           OR USER_NAME LIKE '%' || #{keyword} || '%'
    </select>

    <select id="selectTotalUser" resultType="Long">
        SELECT COUNT(USER_NUMBER)
        FROM TBL_USER
    </select>

    <select id="selectBasicUser" resultType="Long">
        SELECT COUNT(USER_NUMBER)
        FROM TBL_USER
        WHERE USER_STATUS = 1
    </select>

    <select id="selectSitterUser" resultType="Long">
        SELECT COUNT(SITTER_NUMBER)
        FROM TBL_SITTER
        WHERE SITTER_STATUS = 'Y'
    </select>

    <select id="selectUnapprovedSitter" resultType="Long">
        SELECT COUNT(APPLY_NUMBER)
        FROM TBL_SITTER_APPLY
        WHERE APPLY_STATUS = '승인 대기'
    </select>

    <select id="searchNumTitle" resultType="strollBoardVo">
        SELECT STROLL_BOARD_NUMBER,
               STROLL_BOARD_TITLE,
               USER_ID,
               TO_CHAR(STROLL_BOARD_MEETING_DATE, 'YYYY-MM-DD') AS STROLL_BOARD_MEETING_DATE,
               STROLL_BOARD_ADMIN_DISTRICT
        FROM (
                 SELECT ROWNUM RN,
                        STROLL_BOARD_NUMBER,
                        STROLL_BOARD_TITLE,
                        USER_ID,
                        STROLL_BOARD_MEETING_DATE,
                        STROLL_BOARD_ADMIN_DISTRICT
                 FROM (SELECT STROLL_BOARD_NUMBER,
                              STROLL_BOARD_TITLE,
                              USER_ID,
                              STROLL_BOARD_MEETING_DATE,
                              STROLL_BOARD_ADMIN_DISTRICT
                       FROM TBL_USER U
                                JOIN TBL_STROLL_BOARD B
                                     ON U.USER_NUMBER = B.USER_NUMBER
                       WHERE STROLL_BOARD_TITLE LIKE '%' || #{keyword} || '%'
                          OR USER_ID LIKE '%' || #{keyword} || '%'
                       ORDER BY STROLL_BOARD_NUMBER DESC
                      )
				<![CDATA[
                 WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            	]]>
				)
        WHERE RN > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="searchNumTitleCount">
        SELECT COUNT(STROLL_BOARD_NUMBER)
        FROM TBL_USER U
                 JOIN TBL_STROLL_BOARD B
                      ON U.USER_NUMBER = B.USER_NUMBER
        WHERE USER_ID LIKE '%' || #{keyword} || '%'
           OR STROLL_BOARD_TITLE LIKE '%' || #{keyword} || '%'
    </select>

    <select id="selectAllPost" resultType="SitterApplyVo">
        SELECT APPLY_NUMBER, APPLY_CONTENT, USER_NAME, APPLY_DATE
        FROM (
                 SELECT ROWNUM RN,
                        APPLY_NUMBER,
                        APPLY_CONTENT,
                        USER_NAME,
                        APPLY_DATE
                 FROM (
                          SELECT APPLY_NUMBER, APPLY_CONTENT, USER_NAME, APPLY_DATE
                          FROM TBL_SITTER_APPLY S
                                   JOIN TBL_USER U
                                        ON S.USER_NUMBER = U.USER_NUMBER
                          WHERE APPLY_STATUS = '승인 대기'
                          ORDER BY APPLY_NUMBER DESC
                      )
             <![CDATA[
                 WHERE ROWNUM <= #{page} * #{amount}
            ]]>
        )
        WHERE RN > (#{page} - 1) * #{amount}
    </select>

    <select id="selectTotalPost" resultType="_int">
        SELECT COUNT(APPLY_NUMBER)
        FROM TBL_SITTER_APPLY
        WHERE APPLY_STATUS = '승인 대기'
    </select>

    <select id="selectApplication" resultType="SitterApplyVo">
        SELECT A.APPLY_NUMBER,
               U.USER_NUMBER,
               U.USER_NAME,
               U.USER_PHONE_NUMBER,
               U.USER_ADDRESS,
               A.APPLY_CONTENT
        FROM TBL_USER U
                 JOIN TBL_SITTER_APPLY A ON U.USER_NUMBER = A.USER_NUMBER AND A.APPLY_NUMBER = #{applyNumber}
    </select>

    <select id="selectLicense" resultType="SitterApplyVo">
        SELECT APPLY_FILE_NUMBER,
               APPLY_FILE_TITLE,
               APPLY_FILE_NAME,
               APPLY_FILE_UUID,
               APPLY_FILE_UPLOAD_PATH,
               APPLY_NUMBER,
               USER_NUMBER
        FROM TBL_SITTER_APPLY_LICENSE_FILE
        WHERE APPLY_NUMBER = #{applyNumber}
    </select>

    <select id="selectField" resultType="SitterApplyVo">
        SELECT F.SITTER_FIELD_NUMBER, F.PET_FIELD_NAME, F.USER_NUMBER, A.APPLY_NUMBER
        FROM TBL_SITTER_FIELD F
                 JOIN TBL_SITTER_APPLY A ON F.USER_NUMBER = A.USER_NUMBER
        WHERE APPLY_NUMBER = #{applyNumber}
    </select>

    <update id="changeStatus">
        UPDATE TBL_SITTER_APPLY
        SET APPLY_STATUS='승인 완료'
        WHERE APPLY_NUMBER = #{applyNumber}
    </update>

    <insert id="addSitter">
        INSERT INTO TBL_SITTER
            (SITTER_NUMBER, USER_NUMBER, SITTER_STATUS)
        VALUES (SEQ_SITTER.NEXTVAL, #{userNumber}, 'Y')
    </insert>

    <update id="changeStatusRefuse">
        UPDATE TBL_SITTER_APPLY
        SET APPLY_STATUS='승인 거절'
        WHERE APPLY_NUMBER = #{applyNumber}
    </update>

    <select id="selectAllSitter">
        SELECT USER_NUMBER, SITTER_NUMBER, USER_ID, PET_FIELD_NAME,
        USER_PHONE_NUMBER ,REVIEW_COUNT, REVIEW_AVG
        FROM(
        SELECT ROWNUM RN, USER_NUMBER,  SITTER_NUMBER, USER_ID, PET_FIELD_NAME,
        USER_PHONE_NUMBER ,REVIEW_COUNT,  REVIEW_AVG
        FROM(
        SELECT U.USER_NUMBER,  S.SITTER_NUMBER, U.USER_ID,
        NVL(
        (SELECT LISTAGG(PET_FIELD_NAME  , ', ') WITHIN GROUP (ORDER BY SITTER_FIELD_NUMBER)
        FROM TBL_SITTER_FIELD SF
        WHERE USER_NUMBER = U.USER_NUMBER) ,'없음'
        ) AS PET_FIELD_NAME,
        U.USER_PHONE_NUMBER ,COUNT(REVIEW_NUMBER) AS REVIEW_COUNT, NVL(AVG(REVIEW_SCORE), 0) AS REVIEW_AVG
        FROM TBL_USER U
        JOIN TBL_SITTER S
        ON U.USER_NUMBER =S.USER_NUMBER
        LEFT JOIN TBL_SITTER_REVIEW SR
        ON S.SITTER_NUMBER = SR.SITTER_NUMBER
        GROUP BY S.SITTER_NUMBER, U.USER_ID, U.USER_PHONE_NUMBER, U.USER_NUMBER
        ORDER BY S.SITTER_NUMBER DESC
        ) B1
            <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
            ]]>
        )
        WHERE RN  > ( #{criteria.page} - 1 ) * #{criteria.amount}
    </select>

    <select id="selectTotalSitter" resultType="_int">
        SELECT COUNT(SITTER_NUMBER) FROM TBL_SITTER
    </select>

    <select id="searchId" resultType="sitterVo">
        SELECT USER_NUMBER,  SITTER_NUMBER, USER_ID, PET_FIELD_NAME,
        USER_PHONE_NUMBER ,REVIEW_COUNT,  REVIEW_AVG
        FROM(
        SELECT ROWNUM RN, USER_NUMBER,  SITTER_NUMBER, USER_ID, PET_FIELD_NAME,
        USER_PHONE_NUMBER ,REVIEW_COUNT,  REVIEW_AVG
        FROM(
        SELECT U.USER_NUMBER,  S.SITTER_NUMBER, U.USER_ID,
        NVL(
        (SELECT LISTAGG(PET_FIELD_NAME  , ', ') WITHIN GROUP (ORDER BY SITTER_FIELD_NUMBER)
        FROM TBL_SITTER_FIELD SF
        WHERE USER_NUMBER = U.USER_NUMBER) ,'없음'
        ) AS PET_FIELD_NAME,
        U.USER_PHONE_NUMBER ,COUNT(REVIEW_NUMBER) AS REVIEW_COUNT, NVL(AVG(REVIEW_SCORE), 0) AS REVIEW_AVG
        FROM TBL_USER U
        JOIN TBL_SITTER S
        ON U.USER_NUMBER =S.USER_NUMBER AND USER_ID LIKE '%' || #{keyword} ||'%' AND S.SITTER_STATUS ='Y' AND U.USER_STATUS = 2
        LEFT JOIN TBL_SITTER_REVIEW SR
        ON S.SITTER_NUMBER = SR.SITTER_NUMBER
        GROUP BY S.SITTER_NUMBER, U.USER_ID, U.USER_PHONE_NUMBER, U.USER_NUMBER
        ORDER BY S.SITTER_NUMBER DESC
        ) B1
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            ]]>
        )
        WHERE RN  > ( #{criteria.page} - 1 ) * #{criteria.amount}
    </select>

    <select id="searchIdCount" resultType="_int">
        SELECT COUNT(SITTER_NUMBER)
        FROM TBL_USER U
                 JOIN TBL_SITTER S
                      ON U.USER_NUMBER =S.USER_NUMBER AND S.SITTER_STATUS ='Y' AND U.USER_STATUS = 2
        WHERE USER_ID LIKE '%' || #{keyword} || '%'
    </select>

    <select id="selectSitterOne" resultType="sitterVo">
        SELECT U.USER_NUMBER,  S.SITTER_NUMBER, U.USER_ID, US.STATUS_NAME ,
               NVL(
                       (SELECT LISTAGG(PET_FIELD_NAME  , ', ') WITHIN GROUP (ORDER BY SITTER_FIELD_NUMBER)
                           FROM TBL_SITTER_FIELD SF
                           WHERE USER_NUMBER = U.USER_NUMBER) ,'없음'
			) AS PET_FIELD_NAME,U.USER_NAME ,U.USER_GENDER,U.USER_EMAIL, TO_CHAR(U.USER_BIRTH,'YYYY-MM-DD') AS USER_BIRTH ,
               U.USER_PHONE_NUMBER ,COUNT(REVIEW_NUMBER) AS REVIEW_COUNT, NVL(AVG(REVIEW_SCORE), 0) AS REVIEW_AVG,
               U.USER_ADDRESS,U.USER_ADDRESS_DETAIL  ,
               NVL((SELECT LISTAGG(APPLY_FILE_TITLE  , ', ')  WITHIN GROUP (ORDER BY APPLY_FILE_TITLE )
        FROM TBL_SITTER_APPLY_LICENSE_FILE
        WHERE USER_NUMBER = U.USER_NUMBER),'없음') AS APPLY_FILE_TITLE

        FROM TBL_USER_STATUS US
            JOIN TBL_USER U
        ON US.STATUS_NUMBER = U.USER_STATUS
            JOIN TBL_SITTER S
            ON U.USER_NUMBER =S.USER_NUMBER AND S.SITTER_NUMBER = #{sitterNumber}
            LEFT JOIN TBL_SITTER_REVIEW SR
            ON S.SITTER_NUMBER = SR.SITTER_NUMBER
        GROUP BY S.SITTER_NUMBER, U.USER_ID, U.USER_PHONE_NUMBER, U.USER_NUMBER,US.STATUS_NAME,
            U.USER_NAME,U.USER_GENDER,U.USER_EMAIL, U.USER_BIRTH,U.USER_ADDRESS,U.USER_ADDRESS_DETAIL
    </select>

    <update id="updateDemotion">
        UPDATE TBL_SITTER
        SET SITTER_STATUS = #{sitterStatus}
        WHERE SITTER_NUMBER = #{sitterNumber}
    </update>
</mapper>