<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.happypetsday.mapper.ResMapper">
    <select id="selectRes" resultType="resVo">
        SELECT RESERVATION_NUMBER,
               SITTER_NUMBER,
               USER_NUMBER,
               RESERVATION_DATE,
               RESERVATION_STATUS,
               SITTER_NAME,
               PET_FIELD_NAME,
               NVL(REVIEW_CNT, 0) REVIEW_CNT
        FROM (
                 SELECT ROWNUM    AS       RNUM,
                        RESERVATION_NUMBER,
                        SITTER_NUMBER,
                        USER_NUMBER,
                        RESERVATION_DATE,
                        RESERVATION_STATUS,
                        USER_NAME AS       SITTER_NAME,
                        PET_FIELD_NAME,
                        NVL(REVIEW_CNT, 0) REVIEW_CNT
                 FROM (
                          SELECT SR.RESERVATION_NUMBER,
                                 SR.SITTER_NUMBER,
                                 SR.USER_NUMBER,
                                 TO_CHAR(RESERVATION_DATE, 'YYYY-MM-DD') AS RESERVATION_DATE,
                                 RESERVATION_STATUS,
                                 U.USER_NAME,
                                 SF.PET_FIELD_NAME,
                                 NVL(S1.REVIEW_CNT, 0)                      REVIEW_CNT
                          FROM TBL_SITTER_RESERVATION SR
                                   JOIN TBL_SITTER S
                                        ON SR.USER_NUMBER = 22 AND SR.SITTER_NUMBER = S.SITTER_NUMBER
                                   JOIN TBL_USER U
                                        ON S.USER_NUMBER = U.USER_NUMBER
                                   JOIN TBL_SITTER_FIELD SF
                                        ON SR.SITTER_NUMBER = SF.SITTER_NUMBER
                                   LEFT JOIN (
                              SELECT RESERVATION_NUMBER, COUNT(REVIEW_NUMBER) REVIEW_CNT
                              FROM TBL_SITTER_REVIEW
                              GROUP BY RESERVATION_NUMBER
                          ) S1
                                             ON SR.RESERVATION_NUMBER = S1.RESERVATION_NUMBER
                          ORDER BY RESERVATION_NUMBER DESC
                      ) S2
        <![CDATA[
                 WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ]]>
        ) S3
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(RESERVATION_NUMBER)
        FROM TBL_SITTER_RESERVATION
    </select>

    <update id="update">
        UPDATE TBL_SITTER_RESERVATION
        SET RESERVATION_STATUS = #{reservationStatus}
        WHERE RESERVATION_NUMBER = #{reservationNumber}
    </update>


</mapper>