<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.happypetsday.mapper.SitterProfileMapper">

    <select id="select" resultType="sitterVo">
        SELECT SITTER_NUMBER, s.USER_NUMBER, SITTER_HEADER, SITTER_INTRODUCTION, sf.APPLY_FILE_TITLE, sf.APPLY_FILE_NAME, sf.APPLY_FILE_UUID
        FROM TBL_SITTER s
        LEFT OUTER JOIN TBL_SITTER_APPLY_LICENSE_FILE sf
        WHERE s.SITTER_NUMBER = #{sitterNumber}
    </select>

    <select id="selectSitterNumber" resultType="long">
        SELECT SITTER_NUMBER,USER_NUMBER FROM TBL_SITTER
        WHERE SITTER_NUMBER = #{sitterNumber}
    </select>
</mapper>