<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.happypetsday.mapper.SitterFileMapper">

    <!--    시터 이미지 파일-->
    <select id="selectFile" resultType="SitterFileDto">
        SELECT S.SITTER_NUMBER,
               SITTER_FILE_FILE_NAME,
               SITTER_FILE_UUID,
               SITTER_FILE_UPLOAD_PATH
        FROM TBL_SITTER_FILE SF
                 JOIN TBL_SITTER S
                      ON SF.SITTER_NUMBER = S.SITTER_NUMBER
        WHERE S.SITTER_NUMBER = #{sitterNumber}
    </select>

    <insert id="insert">
        INSERT INTO TBL_SITTER_FILE (SITTER_FILE_NUMBER, SITTER_NUMBER, SITTER_FILE_FILE_NAME,
                                     SITTER_FILE_UUID, SITTER_FILE_UPLOAD_PATH)
        VALUES (SEQ_SITTER_FILE.NEXTVAL, #{sitterNumber}, #{sitterFileFileName}, #{sitterFileUuid},
                #{sitterFileUploadPath})
    </insert>

    <update id="update">
        UPDATE TBL_SITTER_FILE
        SET SITTER_FILE_FILE_NAME= #{sitterFileFileName}, SITTER_FILE_UUID=#{sitterFileUuid}, SITTER_FILE_UPLOAD_PATH=#{sitterFileUploadPath}
        WHERE SITTER_NUMBER = #{sitterNumber}
    </update>

    <delete id="delete">
        DELETE
        FROM TBL_SITTER_FILE
        WHERE SITTER_NUMBER = #{sitterNumber}
    </delete>

    <select id="select" resultType="sitterFileDto">
        SELECT SITTER_FILE_NUMBER, SITTER_NUMBER, SITTER_FILE_FILE_NAME, SITTER_FILE_UUID, SITTER_FILE_UPLOAD_PATH
        FROM TBL_SITTER_FILE
        WHERE SITTER_NUMBER =#{sitterNumber}
    </select>


</mapper>