<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.happypetsday.mapper.StrollBoardMapper">

    <insert id="insert">
     <selectKey keyProperty="strollBoardNumber" order="BEFORE" resultType="long">
         SELECT SEQ_STROLL_BOARD.NEXTVAL FROM DUAL
     </selectKey>
        INSERT INTO TBL_STROLL_BOARD
        (STROLL_BOARD_NUMBER, STROLL_BOARD_TITLE, STROLL_BOARD_CONTENT, STROLL_BOARD_LAT, STROLL_BOARD_LNG, STROLL_BOARD_MEETING_DATE, STROLL_BOARD_MEETING_PLACE, STROLL_BOARD_ADMIN_DISTRICT, STROLL_BOARD_REGISTER_DATE, STROLL_BOARD_UPDATE_DATE, USER_NUMBER, PET_NUMBER)
        VALUES(#{strollBoardNumber}, #{strollBoardTitle}, #{strollBoardContent}, #{strollBoardLat}, #{strollBoardLng}, #{strollBoardMeetingDate}, #{strollBoardMeetingPlace}, #{strollBoardAdminDistrict},SYSDATE , SYSDATE, #{userNumber}, #{petNumber})
    </insert>

    <select id="selectOnd" resultType="strollBoardDto">
        SELECT STROLL_BOARD_NUMBER, STROLL_BOARD_TITLE, STROLL_BOARD_CONTENT, STROLL_BOARD_LAT, STROLL_BOARD_LNG, STROLL_BOARD_MEETING_DATE, STROLL_BOARD_MEETING_PLACE, STROLL_BOARD_ADMIN_DISTRICT,
               TO_CHAR(STROLL_BOARD_REGISTER_DATE, 'YYYY-MM-DD') AS STROLL_BOARD_REGISTER_DATE,
               TO_CHAR(STROLL_BOARD_UPDATE_DATE, 'YYYY-MM-DD') AS STROLL_BOARD_UPDATE_DATE,
               USER_NUMBER, PET_NUMBER
        FROM TBL_STROLL_BOARD
        WHERE STROLL_BOARD_NUMBER  = #{strollBoardNumber}

    </select>



</mapper>