<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.happypetsday.mapper.UserMapper">
    <insert id="insert">
        <selectKey keyProperty="userNumber" order="BEFORE" resultType="Long">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_USER(USER_NUMBER, USER_ID, USER_PASSWORD, USER_NAME, USER_GENDER, USER_EMAIL, USER_BIRTH, USER_PHONE_NUMBER, USER_ADDRESS, QUESTION_NUMBER, FIND_PASSWORD_ANSWER)
        VALUES(#{userNumber},#{userId}, #{userPassword}, #{userName}, #{userGender}, #{userEmail}, #{userBirth}, #{userPhoneNumber}, #{userAddress}, #{questionNumber},#{findPasswordAnswer})
    </insert>

    <select id="selectUserNumberAndStatus" resultType="userDto">
        SELECT USER_NUMBER ,USER_STATUS  FROM TBL_USER
        WHERE USER_ID =#{userId}  AND USER_PASSWORD=#{userPassword}
    </select>
    


</mapper>